<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content">
    <!-- Page Header -->
    <div
      class="d-md-flex d-block align-items-center justify-content-between mb-3"
    >
      <div class="my-auto mb-2">
        <h3 class="page-title mb-1">Fees Collection</h3>
        <nav>
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
              <a [routerLink] = "routes.adminDashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
              <a href="javascript:void(0);">Fees Collection </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Assign Fees
            </li>
          </ol>
        </nav>
      </div>
      <div class="d-flex my-xl-auto right-content align-items-center flex-wrap">
        <app-tooltip-content></app-tooltip-content>
        <div class="mb-2">
          <a
            href="javascript:void(0);"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#add_fees_assign"
            ><i class="ti ti-square-rounded-plus-filled me-2"></i>Assign New</a
          >
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <!-- Guardians List -->
    <div class="card">
      <div
        class="card-header d-flex align-items-center justify-content-between flex-wrap pb-0"
      >
        <h4 class="mb-3">Fees Collection</h4>
        <div class="d-flex align-items-center flex-wrap">
          <div class="input-icon-start mb-3 me-2 position-relative">
            <app-date-range-picker></app-date-range-picker>
          </div>
          <div class="dropdown mb-3 me-2">
            <a
              href="javascript:void(0);"
              class="btn btn-outline-light bg-white dropdown-toggle"
              data-bs-toggle="dropdown"
              data-bs-auto-close="outside"
              ><i class="ti ti-filter me-2"></i>Filter</a
            >
            <div class="dropdown-menu drop-width">
              <form>
                <div class="d-flex align-items-center border-bottom p-3">
                  <h4>Filter</h4>
                </div>
                <div class="p-3 border-bottom pb-0">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label class="form-label">Section</label>
                        <p-dropdown
                          [options]="[
                            { label: 'A', value: '1' },
                            { label: 'B', value: '2' },
                            { label: 'C', value: '3' }
                          ]"
                          placeholder="Select"
                          class="select"
                        ></p-dropdown>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label class="form-label">Gender</label>
                        <p-dropdown
                          [options]="[
                            { label: 'Male', value: '1' },
                            { label: 'Female', value: '2' }
                          ]"
                          placeholder="Select"
                          class="select"
                        ></p-dropdown>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="mb-0">
                        <label class="form-label">Student Category</label>
                        <p-dropdown
                          [options]="[
                            { label: 'BC', value: '1' },
                            { label: 'MBC', value: '2' },
                            { label: 'FC', value: '3' },
                            { label: 'oC', value: '4' }
                          ]"
                          placeholder="Select"
                          class="select"
                        ></p-dropdown>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="p-3 d-flex align-items-center justify-content-end">
                  <a href="javascript:void(0);" class="btn btn-light me-3"
                    >Reset</a
                  >
                  <a
                    href="javascript:void(0);"
                    (click)="handleApplyClick()"
                    class="btn btn-primary"
                    >Apply</a
                  >
                </div>
              </form>
            </div>
          </div>
          <div class="dropdown mb-3">
            <a
              href="javascript:void(0);"
              class="btn btn-outline-light bg-white dropdown-toggle"
              data-bs-toggle="dropdown"
              ><i class="ti ti-sort-ascending-2 me-2"></i>Sort by A-Z
            </a>
            <ul class="dropdown-menu p-3">
              <li>
                <a
                  href="javascript:void(0);"
                  class="dropdown-item rounded-1 active"
                >
                  Ascending
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                  Descending
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                  Recently Viewed
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                  Recently Added
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body p-0 py-3">
        <!-- Guardians List -->
        <div class="table-top px-3">
          <div class="row">
            <div class="col-sm-12 col-md-6"></div>
            <div class="col-sm-12 col-md-6">
              <div id="DataTables_Table_0_filter" class="dataTables_filter">
                <label>
                  <input
                    [(ngModel)]="searchDataValue"
                    [ngModelOptions]="{ standalone: true }"
                    (ngModelChange)="searchData(searchDataValue)"
                    type="search"
                    class="form-control"
                    placeholder="Search..."
                /></label>
              </div>
            </div>
          </div>
        </div>
        <div class="custom-datatable-filter table-responsive">
          <table
            (matSortChange)="sortData($event)"
            matSort
            matSortActive="Sno"
            matSortDirection="asc"
            matSortDisableClear
            class="table datatable"
          >
            <thead class="thead-light">
              <tr>
                <th class="no-sort">
                  <div class="form-check form-check-md">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="select-all"
                      (click)="selectAll(initChecked)"
                      [(ngModel)]="initChecked"
                    />
                  </div>
                </th>
                <th mat-sort-header="sNo">S. No</th>
                <th mat-sort-header="feesGroup">Fees Group</th>
                <th mat-sort-header="feesType">Fees Type</th>
                <th mat-sort-header="class">Class</th>
                <th mat-sort-header="section">Section</th>
                <th mat-sort-header="amount">Amount ($)</th>
                <th mat-sort-header="gender">Gender</th>
                <th mat-sort-header="category">Category</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              @for (table of tableData; track table.key) {
              <tr>
                <td>
                  <div class="form-check form-check-md">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [(ngModel)]="table.isSelected"
                    />
                  </div>
                </td>
               
                <td>{{ table.sNo }}</td>
                <td>{{ table.feesGroup }}</td>
                <td>{{ table.feesType }}</td>
                <td>{{ table.class }}</td>
                <td>{{ table.section }}</td>
                <td>{{ table.amount }}</td>
                <td>{{ table.gender }}</td>
                <td>{{ table.category }}</td>
                <td>
                  <div class="dropdown">
                    <a
                      href="javascript:void(0);"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="javascript:void(0);"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_fees_assign"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="javascript:void(0);"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              } @if (tableData.length === 0) {
              <tr>
                <td colspan="10">
                  <h5 class="no-record text-center">No records found</h5>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
        <app-custom-pagination></app-custom-pagination>
        <!-- /Guardians List -->
      </div>
    </div>
    <!-- /Guardians List -->
  </div>
</div>
<!-- /Page Wrapper -->

<!-- Add Fees Assign -->
<div class="modal fade" id="add_fees_assign">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Assign New Fees</h4>
        <button
          type="button"
          class="btn-close custom-btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="ti ti-x"></i>
        </button>
      </div>
      <div class="modal-body">
        <!-- Table Filter -->
        <div class="table-filter-head">
          <div class="filter-head-left">
            <h5>Search Criteria</h5>
            <div class="dropdown mb-3 me-2">
              <a
                href="javascript:void(0);"
                class="btn btn-outline-light bg-white dropdown-toggle"
                data-bs-toggle="dropdown"
                data-bs-auto-close="outside"
                ><i class="ti ti-filter me-2"></i>Filter</a
              >
              <div class="dropdown-menu drop-width">
                <form>
                  <div class="d-flex align-items-center border-bottom p-3">
                    <h4>Filter</h4>
                  </div>
                  <div class="p-3 border-bottom pb-0">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label class="form-label">Fees Group</label>
                          <p-dropdown
                            [options]="[
                              { label: 'Admission-Fees', value: '1' },
                              { label: 'Class 1 General', value: '2' },
                              { label: 'Monthly Fees', value: '3' }
                            ]"
                            placeholder="Select"
                            class="select"
                          ></p-dropdown>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label class="form-label">Fees Type</label>
                          <p-dropdown
                            [options]="[
                              { label: 'Tuition Fees', value: '1' },
                              { label: 'Monthly Fees', value: '2' },
                              { label: 'Admission Fees', value: '3' }
                            ]"
                            placeholder="Select"
                            class="select"
                          ></p-dropdown>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="mb-3">
                          <label class="form-label">Class</label>
                          <p-dropdown
                            [options]="[
                              { label: 'I', value: '1' },
                              { label: 'II', value: '2' },
                              { label: 'III', value: '3' }
                            ]"
                            placeholder="Select"
                            class="select"
                          ></p-dropdown>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label class="form-label">Gender</label>
                          <p-dropdown
                            [options]="[
                              { label: 'Male', value: '1' },
                              { label: 'Female', value: '2' }
                            ]"
                            placeholder="Select"
                            class="select"
                          ></p-dropdown>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="mb-3">
                          <label class="form-label">Student Category</label>

                          <p-dropdown
                            [options]="[
                              { label: 'BC', value: '1' },
                              { label: 'MBC', value: '2' },
                              { label: 'FC', value: '3' },
                              { label: 'oC', value: '4' }
                            ]"
                            placeholder="Select"
                            class="select"
                          ></p-dropdown>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="p-3 d-flex align-items-center justify-content-end"
                  >
                    <a href="javascript:void(0);" class="btn btn-light me-3"
                      >Reset</a
                    >
                    <a
                      href="javascript:void(0);"
                      (click)="handleApplyClick()"
                      class="btn btn-primary"
                      >Apply</a
                    >
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- /Table Filter -->
        </div>
        <!-- /Filter Section -->
        <div class="modal-card-table">
          <div class="modal-table-head">
            <h4>List of Fees type</h4>
          </div>
          <div class="table-responsive custom-table no-datatable_length">
            <table class="table datanew">
              <thead class="thead-light">
                <tr>
                  <th class="no-sort"></th>
                  <th class="no-sort">Fees Type</th>
                  <th class="no-sort">Fees Type</th>
                  <th class="no-sort">Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td>Admission Fees</td>
                  <td>Admission-Fees</td>
                  <td>5000</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td>Apr-Mar</td>
                  <td>Apr-Mar</td>
                  <td>666</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td>Bus Fees</td>
                  <td>Bus Fees</td>
                  <td>400</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td>1st Installment Fees</td>
                  <td>1st Installment Fees</td>
                  <td>2645</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td>2nd Installment Fees</td>
                  <td>2nd Installment Fees</td>
                  <td>7898</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td>3rd Installment Fees</td>
                  <td>3rd Installment Fees</td>
                  <td>4785</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-card-table">
          <div class="modal-table-head">
            <h4>Student Details</h4>
          </div>
          <div class="table-responsive custom-table no-datatable_length">
            <table class="table datanew">
              <thead class="thead-light">
                <tr>
                  <th class="no-sort">
                    <label class="checkboxs"
                      ><input type="checkbox" id="select-all2" /><span
                        class="checkmarks"
                      ></span
                    ></label>
                  </th>
                  <th class="no-sort">Admission Number</th>
                  <th class="no-sort">Student</th>
                  <th class="no-sort">Class</th>
                  <th class="no-sort">Section</th>
                  <th class="no-sort">Gender</th>
                  <th class="no-sort">Student Category</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td><a href="javascript:void(0);" class="text-primary">AD9892430</a></td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a [routerLink] = "routes.studentDetails" class="avatar avatar-md"
                        ><img
                          src="assets/img/students/student-01.jpg"
                          class="img-fluid rounded-circle"
                          alt="img"
                      /></a>
                      <div class="ms-2">
                        <p class="text-dark mb-0">
                          <a [routerLink] = "routes.studentDetails">Janet</a>
                        </p>
                      </div>
                    </div>
                  </td>
                  <td>II</td>
                  <td>B</td>
                  <td>Female</td>
                  <td>MBC</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td><a href="javascript:void(0);" class="text-primary">AD9892429</a></td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a [routerLink] = "routes.studentDetails" class="avatar avatar-md"
                        ><img
                          src="assets/img/students/student-06.jpg"
                          class="img-fluid rounded-circle"
                          alt="img"
                      /></a>
                      <div class="ms-2">
                        <p class="text-dark mb-0">
                          <a [routerLink] = "routes.studentDetails">Ralph</a>
                        </p>
                      </div>
                    </div>
                  </td>
                  <td>III</td>
                  <td>B</td>
                  <td>Male</td>
                  <td>BC</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td><a href="javascript:void(0);" class="text-primary">AD9892428</a></td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a [routerLink] = "routes.studentDetails" class="avatar avatar-md"
                        ><img
                          src="assets/img/students/student-07.jpg"
                          class="img-fluid rounded-circle"
                          alt="img"
                      /></a>
                      <div class="ms-2">
                        <p class="text-dark mb-0">
                          <a [routerLink] = "routes.studentDetails">Julie</a>
                        </p>
                      </div>
                    </div>
                  </td>
                  <td>V</td>
                  <td>A</td>
                  <td>Female</td>
                  <td>BC</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td><a href="javascript:void(0);" class="text-primary">AD9892427</a></td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a [routerLink] = "routes.studentDetails" class="avatar avatar-md"
                        ><img
                          src="assets/img/students/student-08.jpg"
                          class="img-fluid rounded-circle"
                          alt="img"
                      /></a>
                      <div class="ms-2">
                        <p class="text-dark mb-0">
                          <a [routerLink] = "routes.studentDetails">Ryan</a>
                        </p>
                      </div>
                    </div>
                  </td>
                  <td>VI</td>
                  <td>A</td>
                  <td>Male</td>
                  <td>MBC</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td><a href="javascript:void(0);" class="text-primary">AD9892426</a></td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a [routerLink] = "routes.studentDetails" class="avatar avatar-md"
                        ><img
                          src="assets/img/students/student-09.jpg"
                          class="img-fluid rounded-circle"
                          alt="img"
                      /></a>
                      <div class="ms-2">
                        <p class="text-dark mb-0">
                          <a [routerLink] = "routes.studentDetails">Susan</a>
                        </p>
                      </div>
                    </div>
                  </td>
                  <td>VIII</td>
                  <td>B</td>
                  <td>Female</td>
                  <td>BC</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td><a href="javascript:void(0);" class="text-primary">AD9892425</a></td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a [routerLink] = "routes.studentDetails" class="avatar avatar-md"
                        ><img
                          src="assets/img/students/student-12.jpg"
                          class="img-fluid rounded-circle"
                          alt="img"
                      /></a>
                      <div class="ms-2">
                        <p class="text-dark mb-0">
                          <a [routerLink] = "routes.studentDetails">Richard</a>
                        </p>
                      </div>
                    </div>
                  </td>
                  <td>VII</td>
                  <td>B</td>
                  <td>Male</td>
                  <td>MBC</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td><a href="javascript:void(0);" class="text-primary">AD9892424</a></td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a [routerLink] = "routes.studentDetails" class="avatar avatar-md"
                        ><img
                          src="assets/img/students/student-11.jpg"
                          class="img-fluid rounded-circle"
                          alt="img"
                      /></a>
                      <div class="ms-2">
                        <p class="text-dark mb-0">
                          <a [routerLink] = "routes.studentDetails">Veronica</a>
                        </p>
                      </div>
                    </div>
                  </td>
                  <td>IX</td>
                  <td>A</td>
                  <td>Female</td>
                  <td>BC</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="student-pomote-note d-flex mb-0">
          <span class="info-icon"><i class="ti ti-info-circle"></i></span>
          <p>Selected 50 Fees Group, 350 Students</p>
        </div>
      </div>
      <div class="modal-footer">
        <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal"
          >Cancel</a
        >
        <a
          href="javascript:void(0);"
          data-bs-dismiss="modal"
          class="btn btn-primary"
          >Add Fees</a
        >
      </div>
    </div>
  </div>
</div>
<!-- Add Fees Assign -->

<!-- Edit Fees Assign -->
<div class="modal fade" id="edit_fees_assign">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Fees</h4>
        <button
          type="button"
          class="btn-close custom-btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="ti ti-x"></i>
        </button>
      </div>
      <div class="modal-body">
        <!-- Table Filter -->
        <div class="table-filter-head">
          <div class="filter-head-left">
            <h5>Search Criteria</h5>
            <div class="dropdown mb-3 me-2">
              <a
                href="javascript:void(0);"
                class="btn btn-outline-light bg-white dropdown-toggle"
                data-bs-toggle="dropdown"
                data-bs-auto-close="outside"
                ><i class="ti ti-filter me-2"></i>Filter</a
              >
              <div class="dropdown mb-3 me-2">
                <a
                  href="javascript:void(0);"
                  class="btn btn-outline-light bg-white dropdown-toggle"
                  data-bs-toggle="dropdown"
                  data-bs-auto-close="outside"
                  ><i class="ti ti-filter me-2"></i>Filter</a
                >
                <div class="dropdown-menu drop-width">
                  <form>
                    <div class="d-flex align-items-center border-bottom p-3">
                      <h4>Filter</h4>
                    </div>
                    <div class="p-3 border-bottom pb-0">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="mb-3">
                            <label class="form-label">Fees Group</label>
                            <p-dropdown
                              [options]="[
                                { label: 'Admission-Fees', value: '1' },
                                { label: 'Class 1 General', value: '2' },
                                { label: 'Monthly Fees', value: '3' }
                              ]"
                              placeholder="Select"
                              class="select"
                            ></p-dropdown>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="mb-3">
                            <label class="form-label">Fees Type</label>
                            <p-dropdown
                              [options]="[
                                { label: 'Tuition Fees', value: '1' },
                                { label: 'Monthly Fees', value: '2' },
                                { label: 'Admission Fees', value: '3' }
                              ]"
                              placeholder="Select"
                              class="select"
                            ></p-dropdown>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="mb-3">
                            <label class="form-label">Class</label>
                            <p-dropdown
                              [options]="[
                                { label: 'I', value: '1' },
                                { label: 'II', value: '2' },
                                { label: 'III', value: '3' }
                              ]"
                              placeholder="Select"
                              class="select"
                            ></p-dropdown>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="mb-3">
                            <label class="form-label">Gender</label>
                            <p-dropdown
                              [options]="[
                                { label: 'Male', value: '1' },
                                { label: 'Female', value: '2' }
                              ]"
                              placeholder="Select"
                              class="select"
                            ></p-dropdown>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="mb-3">
                            <label class="form-label">Student Category</label>

                            <p-dropdown
                              [options]="[
                                { label: 'BC', value: '1' },
                                { label: 'MBC', value: '2' },
                                { label: 'FC', value: '3' },
                                { label: 'oC', value: '4' }
                              ]"
                              placeholder="Select"
                              class="select"
                            ></p-dropdown>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="p-3 d-flex align-items-center justify-content-end"
                    >
                      <a href="javascript:void(0);" class="btn btn-light me-3"
                        >Reset</a
                      >
                      <a
                        href="javascript:void(0);"
                        (click)="handleApplyClick()"
                        class="btn btn-primary"
                        >Apply</a
                      >
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- /Table Filter -->
        </div>
        <!-- /Filter Section -->
        <div class="modal-card-table">
          <div class="modal-table-head">
            <h4>List of Fees type</h4>
          </div>
          <div class="table-responsive custom-table no-datatable_length">
            <table class="table datanew">
              <thead class="thead-light">
                <tr>
                  <th class="no-sort"></th>
                  <th class="no-sort">Fees Type</th>
                  <th class="no-sort">Fees Type</th>
                  <th class="no-sort">Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td>Admission Fees</td>
                  <td>Admission-Fees</td>
                  <td>5000</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td>Apr-Mar</td>
                  <td>Apr-Mar</td>
                  <td>666</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td>Bus Fees</td>
                  <td>Bus Fees</td>
                  <td>400</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" checked />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td>1st Installment Fees</td>
                  <td>1st Installment Fees</td>
                  <td>2645</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" checked />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td>2nd Installment Fees</td>
                  <td>2nd Installment Fees</td>
                  <td>7898</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td>3rd Installment Fees</td>
                  <td>3rd Installment Fees</td>
                  <td>4785</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-card-table">
          <div class="modal-table-head">
            <h4>Student Details</h4>
          </div>
          <div class="table-responsive custom-table no-datatable_length">
            <table class="table datanew">
              <thead class="thead-light">
                <tr>
                  <th class="no-sort">
                    <label class="checkboxs"
                      ><input type="checkbox" id="select-all3" /><span
                        class="checkmarks"
                      ></span
                    ></label>
                  </th>
                  <th class="no-sort">Admission Number</th>
                  <th class="no-sort">Student</th>
                  <th class="no-sort">Class</th>
                  <th class="no-sort">Section</th>
                  <th class="no-sort">Gender</th>
                  <th class="no-sort">Student Category</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td><a href="javascript:void(0);" class="text-primary">AD9892430</a></td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a [routerLink] = "routes.studentDetails" class="avatar avatar-md"
                        ><img
                          src="assets/img/students/student-01.jpg"
                          class="img-fluid rounded-circle"
                          alt="img"
                      /></a>
                      <div class="ms-2">
                        <p class="text-dark mb-0">
                          <a [routerLink] = "routes.studentDetails">Janet</a>
                        </p>
                      </div>
                    </div>
                  </td>
                  <td>II</td>
                  <td>B</td>
                  <td>Female</td>
                  <td>MBC</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td><a href="javascript:void(0);" class="text-primary">AD9892429</a></td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a [routerLink] = "routes.studentDetails" class="avatar avatar-md"
                        ><img
                          src="assets/img/students/student-06.jpg"
                          class="img-fluid rounded-circle"
                          alt="img"
                      /></a>
                      <div class="ms-2">
                        <p class="text-dark mb-0">
                          <a [routerLink] = "routes.studentDetails">Ralph</a>
                        </p>
                      </div>
                    </div>
                  </td>
                  <td>III</td>
                  <td>B</td>
                  <td>Male</td>
                  <td>BC</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td><a href="javascript:void(0);" class="text-primary">AD9892428</a></td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a [routerLink] = "routes.studentDetails" class="avatar avatar-md"
                        ><img
                          src="assets/img/students/student-07.jpg"
                          class="img-fluid rounded-circle"
                          alt="img"
                      /></a>
                      <div class="ms-2">
                        <p class="text-dark mb-0">
                          <a [routerLink] = "routes.studentDetails">Julie</a>
                        </p>
                      </div>
                    </div>
                  </td>
                  <td>V</td>
                  <td>A</td>
                  <td>Female</td>
                  <td>BC</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td><a href="javascript:void(0);" class="text-primary">AD9892427</a></td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a [routerLink] = "routes.studentDetails" class="avatar avatar-md"
                        ><img
                          src="assets/img/students/student-08.jpg"
                          class="img-fluid rounded-circle"
                          alt="img"
                      /></a>
                      <div class="ms-2">
                        <p class="text-dark mb-0">
                          <a [routerLink] = "routes.studentDetails">Ryan</a>
                        </p>
                      </div>
                    </div>
                  </td>
                  <td>VI</td>
                  <td>A</td>
                  <td>Male</td>
                  <td>MBC</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td><a href="javascript:void(0);" class="text-primary">AD9892426</a></td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a [routerLink] = "routes.studentDetails" class="avatar avatar-md"
                        ><img
                          src="assets/img/students/student-09.jpg"
                          class="img-fluid rounded-circle"
                          alt="img"
                      /></a>
                      <div class="ms-2">
                        <p class="text-dark mb-0">
                          <a [routerLink] = "routes.studentDetails">Susan</a>
                        </p>
                      </div>
                    </div>
                  </td>
                  <td>VIII</td>
                  <td>B</td>
                  <td>Female</td>
                  <td>BC</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td><a href="javascript:void(0);" class="text-primary">AD9892425</a></td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a [routerLink] = "routes.studentDetails" class="avatar avatar-md"
                        ><img
                          src="assets/img/students/student-12.jpg"
                          class="img-fluid rounded-circle"
                          alt="img"
                      /></a>
                      <div class="ms-2">
                        <p class="text-dark mb-0">
                          <a [routerLink] = "routes.studentDetails">Richard</a>
                        </p>
                      </div>
                    </div>
                  </td>
                  <td>VII</td>
                  <td>B</td>
                  <td>Male</td>
                  <td>MBC</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td><a href="javascript:void(0);" class="text-primary">AD9892424</a></td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a [routerLink] = "routes.studentDetails" class="avatar avatar-md"
                        ><img
                          src="assets/img/students/student-11.jpg"
                          class="img-fluid rounded-circle"
                          alt="img"
                      /></a>
                      <div class="ms-2">
                        <p class="text-dark mb-0">
                          <a [routerLink] = "routes.studentDetails">Veronica</a>
                        </p>
                      </div>
                    </div>
                  </td>
                  <td>IX</td>
                  <td>A</td>
                  <td>Female</td>
                  <td>BC</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="student-pomote-note d-flex mb-0">
          <span class="info-icon"><i class="ti ti-info-circle"></i></span>
          <p>Selected 50 Fees Group, 350 Students</p>
        </div>
      </div>
      <div class="modal-footer">
        <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal"
          >Cancel</a
        >
        <a
          href="javascript:void(0);"
          data-bs-dismiss="modal"
          class="btn btn-primary"
          >Save Changes</a
        >
      </div>
    </div>
  </div>
</div>
<!-- Edit Fees Assign -->

<!-- Delete Modal -->
<div class="modal fade" id="delete-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form>
        <div class="modal-body text-center">
          <span class="delete-icon">
            <i class="ti ti-trash-x"></i>
          </span>
          <h4>Confirm Deletion</h4>
          <p>
            You want to delete all the marked items, this cant be undone once
            you delete.
          </p>
          <div class="d-flex justify-content-center">
            <a
              href="javascript:void(0);"
              class="btn btn-light me-3"
              data-bs-dismiss="modal"
              >Cancel</a
            >
            <a
              href="javascript:void(0);"
              class="btn btn-danger"
              data-bs-dismiss="modal"
              >Yes, Delete</a
            >
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /Delete Modal -->
