<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content">
    <!-- Page Header -->
    <div
      class="d-md-flex d-block align-items-center justify-content-between mb-3"
    >
      <div class="my-auto mb-2">
        <h3 class="page-title mb-1">Transactions</h3>
        <nav>
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
              <a [routerLink] = "routes.adminDashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
              <a href="javascript:void(0);">Finance & Accounts </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Transactions
            </li>
          </ol>
        </nav>
      </div>
      <div class="d-flex my-xl-auto right-content align-items-center flex-wrap">
        <div class="pe-1 mb-2">
          <a
            href="javascript:void(0);"
            class="btn btn-outline-light bg-white btn-icon me-1"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            aria-label="Refresh"
            data-bs-original-title="Refresh"
            tooltip="Refresh"
          >
            <i class="ti ti-refresh"></i>
          </a>
        </div>
        <div class="pe-1 mb-2">
          <button
            type="button"
            class="btn btn-outline-light bg-white btn-icon me-1"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            aria-label="Print"
            tooltip="Print"
            data-bs-original-title="Print"
          >
            <i class="ti ti-printer"></i>
          </button>
        </div>
        <div class="dropdown me-2 mb-2">
          <a
            href="javascript:void(0);"
            class="dropdown-toggle btn btn-light fw-medium d-inline-flex align-items-center"
            data-bs-toggle="dropdown"
          >
            <i class="ti ti-file-export me-2"></i>Export
          </a>
          <ul class="dropdown-menu dropdown-menu-end p-3">
            <li>
              <a href="javascript:void(0);" class="dropdown-item rounded-1"
                ><i class="ti ti-file-type-pdf me-1"></i>Export as PDF</a
              >
            </li>
            <li>
              <a href="javascript:void(0);" class="dropdown-item rounded-1"
                ><i class="ti ti-file-type-xls me-1"></i>Export as Excel
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <!-- Guardians List -->
    <div class="card">
      <div
        class="card-header d-flex align-items-center justify-content-between flex-wrap pb-0"
      >
        <h4 class="mb-3">Transactions List</h4>
        <div class="d-flex align-items-center flex-wrap">
          <div class="input-icon-start mb-3 me-2 position-relative">
            <span class="icon-addon">
              <i class="ti ti-calendar"></i>
            </span>
            <input
              type="text"
              class="form-control date-range bookingrange"
              placeholder="Select"
              value="Academic Year : 2024 / 2025"
              bsDaterangepicker
              [(ngModel)]="bsRangeValue"
            />
          </div>
          <div class="dropdown mb-3 me-2">
            <a
              href="javascript:void(0);"
              class="btn btn-outline-light bg-white dropdown-toggle"
              data-bs-toggle="dropdown"
              data-bs-auto-close="outside"
              ><i class="ti ti-filter me-2"></i>Filter</a
            >
            <div class="dropdown-menu drop-width">
              <form>
                <div class="d-flex align-items-center border-bottom p-3">
                  <h4>Filter</h4>
                </div>
                <div class="p-3 border-bottom pb-0">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label class="form-label">Transaction ID</label>
                        <!-- <mat-select class="select custom-mat-select" placeholder="Select">
                                <div (click)="$event.stopPropagation()">
                                    <mat-option value="">Select</mat-option>
                                    <mat-option value="FT624892">FT624892</mat-option>
                                    <mat-option value="FT624893">FT624893</mat-option>
                                    <mat-option value="FT624889">FT624889</mat-option>
                                </div>
                            </mat-select> -->
                        <p-dropdown
                          [options]="transaction_ID"
                          [(ngModel)]="selectedTransaction"
                          optionLabel="name"
                          [ngModelOptions]="{ standalone: true }"
                          placeholder="Select"
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label class="form-label">Transaction Type</label>

                        <p-dropdown
                          [options]="transaction_Type"
                          [(ngModel)]="selectedType"
                          optionLabel="name"
                          [ngModelOptions]="{ standalone: true }"
                          placeholder="Select"
                        />
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="mb-3">
                        <label class="form-label">Transaction Date</label>

                        <p-dropdown
                          [options]="transaction_Date"
                          [(ngModel)]="selectedDate"
                          optionLabel="name"
                          [ngModelOptions]="{ standalone: true }"
                          placeholder="Select"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="p-3 d-flex align-items-center justify-content-end">
                  <a href="javascript:void(0);" class="btn btn-light me-3"
                    >Reset</a
                  >
                  <a
                    href="javascript:void(0);"
                    (click)="handleApplyClick()"
                    class="btn btn-primary"
                    >Apply</a
                  >
                </div>
              </form>
            </div>
          </div>
          <div class="dropdown mb-3">
            <a
              href="javascript:void(0);"
              class="btn btn-outline-light bg-white dropdown-toggle"
              data-bs-toggle="dropdown"
              ><i class="ti ti-sort-ascending-2 me-2"></i>Sort by A-Z
            </a>
            <ul class="dropdown-menu p-3">
              <li>
                <a
                  href="javascript:void(0);"
                  class="dropdown-item rounded-1 active"
                >
                  Ascending
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                  Descending
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                  Recently Viewed
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                  Recently Added
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body p-0 py-3">
        <!-- Guardians List -->
        <div class="table-top px-3">
          <div class="row">
            <div class="col-sm-12 col-md-6"></div>
            <div class="col-sm-12 col-md-6">
              <div id="DataTables_Table_0_filter" class="dataTables_filter">
                <label>
                  <input
                    [(ngModel)]="searchDataValue"
                    [ngModelOptions]="{ standalone: true }"
                    (ngModelChange)="searchData(searchDataValue)"
                    type="search"
                    class="form-control"
                    placeholder="Search..."
                /></label>
              </div>
            </div>
          </div>
        </div>
        <div class="custom-datatable-filter table-responsive">
          <table
            (matSortChange)="sortData($event)"
            matSort
            matSortActive="Sno"
            matSortDirection="asc"
            matSortDisableClear
            class="table datatable"
          >
            <thead class="thead-light">
              <tr>
                <th class="no-sort">
                  <div class="form-check form-check-md">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="select-all"
                      (click)="selectAll(initChecked)"
                      [(ngModel)]="initChecked"
                    />
                  </div>
                </th>

                <th mat-sort-header="tid">ID</th>
                <th mat-sort-header="description">Description</th>
                <th mat-sort-header="date">Transaction Date</th>
                <th mat-sort-header="amount">Amount</th>
                <th mat-sort-header="type">Transaction Type</th>
                <th mat-sort-header="method">Payment Method</th>
                <th mat-sort-header="status">Status</th>
              </tr>
            </thead>
            <tbody>
              @for (table of tableData; track table.key) {
              <tr>
                <td>
                  <div class="form-check form-check-md">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [(ngModel)]="table.isSelected"
                    />
                  </div>
                </td>
                <td>
                  <a href="javascript:void(0);" class="link-primary">{{ table.tid }}</a>
                </td>
                <td>{{ table.description }}</td>
                <td>{{ table.date }}</td>
                <td>{{ table.amount }}</td>
                <td>{{ table.type }}</td>
                <td>{{ table.method }}</td>
                <td>
                  <span
                    [ngClass]="
                      table.status === 'Completed'
                        ? 'badge-soft-success'
                        : 'badge-soft-warning'
                    "
                    class="badge d-inline-flex align-items-center"
                    ><i class="ti ti-circle-filled fs-5 me-1"></i
                    >{{ table.status }}</span
                  >
                </td>
              </tr>
              } @if (tableData.length === 0) {
              <tr>
                <td colspan="5">
                  <h5 class="no-record text-center">No records found</h5>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
        <app-custom-pagination></app-custom-pagination>
        <!-- /Guardians List -->
      </div>
    </div>
    <!-- /Guardians List -->
  </div>
</div>
<!-- /Page Wrapper -->
