<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content">
    <!-- Page Header -->
    <div
      class="d-md-flex d-block align-items-center justify-content-between mb-3"
    >
      <div class="my-auto mb-2">
        <h3 class="page-title mb-1">FAQ</h3>
        <nav>
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
              <a [routerLink] = "routes.adminDashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
              <a href="javascript:void(0);">Content </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">FAQ</li>
          </ol>
        </nav>
      </div>
      <div class="d-flex my-xl-auto right-content align-items-center flex-wrap">
        <app-tooltip-content></app-tooltip-content>
        <div class="mb-2">
          <a
            href="javascript:void(0);"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#add_faq"
            ><i class="ti ti-square-rounded-plus-filled me-2"></i>Add FAQ</a
          >
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <!-- Guardians List -->
    <div class="card">
      <div
        class="card-header d-flex align-items-center justify-content-between flex-wrap pb-0"
      >
        <h4 class="mb-3">FAQ List</h4>
        <div class="d-flex align-items-center flex-wrap">
          <div class="input-icon-start mb-3 me-2 position-relative">
            <app-date-range-picker></app-date-range-picker>
          </div>
          <div class="dropdown mb-3 me-2">
            <a
              href="javascript:void(0);"
              class="btn btn-outline-light bg-white dropdown-toggle"
              data-bs-toggle="dropdown"
              data-bs-auto-close="outside"
              ><i class="ti ti-filter me-2"></i>Filter</a
            >
            <div class="dropdown-menu drop-width">
              <form>
                <div class="d-flex align-items-center border-bottom p-3">
                  <h4>Filter</h4>
                </div>
                <div class="p-3 border-bottom pb-0">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label class="form-label">Questions</label>

                        <p-dropdown
                          [options]="[
                            {
                              label: 'How do I reset my password?',
                              value: '1'
                            },
                            {
                              label: 'Can I volunteer at the school?',
                              value: '2'
                            },
                            {
                              label: 'What are the school hours of operation?',
                              value: '3'
                            }
                          ]"
                          placeholder="Select"
                          class="select"
                        ></p-dropdown>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label class="form-label">Section</label>
                        <p-dropdown
                          [options]="[
                            { label: 'A', value: '1' },
                            { label: 'B', value: '2' },
                            { label: 'C', value: '3' }
                          ]"
                          placeholder="Select"
                          class="select"
                        ></p-dropdown>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="mb-0">
                        <label class="form-label">Category</label>
                        <p-dropdown
                          [options]="[
                            { label: 'Account', value: '1' },
                            { label: 'Support', value: '2' },
                            { label: 'Finance', value: '3' }
                          ]"
                          placeholder="Select"
                          class="select"
                        ></p-dropdown>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="p-3 d-flex align-items-center justify-content-end">
                  <a href="javascript:void(0);" class="btn btn-light me-3"
                    >Reset</a
                  >
                  <a
                    href="javascript:void(0);"
                    (click)="handleApplyClick()"
                    class="btn btn-primary"
                    >Apply</a
                  >
                </div>
              </form>
            </div>
          </div>
          <div class="dropdown mb-3">
            <a
              href="javascript:void(0);"
              class="btn btn-outline-light bg-white dropdown-toggle"
              data-bs-toggle="dropdown"
              ><i class="ti ti-sort-ascending-2 me-2"></i>Sort by A-Z
            </a>
            <ul class="dropdown-menu p-3">
              <li>
                <a
                  href="javascript:void(0);"
                  class="dropdown-item rounded-1 active"
                >
                  Ascending
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                  Descending
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                  Recently Viewed
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                  Recently Added
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body p-0 py-3">
        <!-- Guardians List -->
        <div class="table-top px-3">
          <div class="row">
            <div class="col-sm-12 col-md-6"></div>
            <div class="col-sm-12 col-md-6">
              <div id="DataTables_Table_0_filter" class="dataTables_filter">
                <label>
                  <input
                    [(ngModel)]="searchDataValue"
                    [ngModelOptions]="{ standalone: true }"
                    (ngModelChange)="searchData(searchDataValue)"
                    type="search"
                    class="form-control"
                    placeholder="Search..."
                /></label>
              </div>
            </div>
          </div>
        </div>
        <div class="custom-datatable-filter table-responsive">
          <table
            (matSortChange)="sortData($event)"
            matSort
            matSortActive="Sno"
            matSortDirection="asc"
            matSortDisableClear
            class="table datatable"
          >
            <thead class="thead-light">
              <tr>
                <th class="no-sort">
                  <div class="form-check form-check-md">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="select-all"
                      (click)="selectAll(initChecked)"
                      [(ngModel)]="initChecked"
                    />
                  </div>
                </th>
                <th mat-sort-header="id">ID</th>
                <th mat-sort-header="questions">Questions</th>
                <th mat-sort-header="answers">Answers</th>
                <th mat-sort-header="category">Category</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              @for (table of tableData; track table.key) {
              <tr>
                <td>
                  <div class="form-check form-check-md">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [(ngModel)]="table.isSelected"
                    />
                  </div>
                </td>
                <td> <a href="javascript:void(0);" class="link-primary">{{ table.id }}</a></td>
                <td>{{ table.questions }}</td>
                <td>{{ table.answers }}</td>
                <td>{{ table.category }}</td>
                <td>
                  <div class="dropdown">
                    <a
                      href="javascript:void(0);"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="javascript:void(0);"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_faq"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="javascript:void(0);"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              } @if (tableData.length === 0) {
              <tr>
                <td colspan="6">
                  <h5 class="no-record text-center">No records found</h5>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
        <app-custom-pagination></app-custom-pagination>
        <!-- /Guardians List -->
      </div>
    </div>
    <!-- /Guardians List -->
  </div>
</div>
<!-- /Page Wrapper -->

<!-- Add FAQ -->
<div class="modal fade" id="add_faq">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add FAQ</h4>
        <button
          type="button"
          class="btn-close custom-btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="ti ti-x"></i>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <label class="form-label">Category</label>
                <input type="text" class="form-control" />
              </div>
              <div class="mb-3">
                <label class="form-label">Question</label>
                <textarea class="form-control" rows="4"></textarea>
              </div>
              <div class="mb-0">
                <label class="form-label">Answer</label>
                <textarea class="form-control" rows="4"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal"
            >Cancel</a
          >
          <a
            href="javascript:void(0);"
            data-bs-dismiss="modal"
            class="btn btn-primary"
            >Add FAQ</a
          >
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /Add FAQ -->

<!-- Edit FAQ -->
<div class="modal fade" id="edit_faq">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit FAQ</h4>
        <button
          type="button"
          class="btn-close custom-btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="ti ti-x"></i>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <label class="form-label">Category</label>
                <input
                  type="text"
                  class="form-control"
                  value=" Category1"
                />
              </div>
              <div class="mb-3">
                <label class="form-label">Question</label>
                <textarea
                  class="form-control"
                  [(ngModel)]="textAreaValue2"
                  rows="4"
                >{{textAreaValue2}}</textarea>
              </div>
              <div class="mb-0">
                <label class="form-label">Answer</label>
                <textarea
                [(ngModel)]="textAreaValue"
                  class="form-control"
                  rows="4"
                >{{textAreaValue}}</textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal"
            >Cancel</a
          >
          <a
            href="javascript:void(0);"
            data-bs-dismiss="modal"
            class="btn btn-primary"
            >Save Changes</a
          >
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /Edit FAQ -->

<!-- Delete Modal -->
<div class="modal fade" id="delete-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form>
        <div class="modal-body text-center">
          <span class="delete-icon">
            <i class="ti ti-trash-x"></i>
          </span>
          <h4>Confirm Deletion</h4>
          <p>
            You want to delete all the marked items, this cant be undone once
            you delete.
          </p>
          <div class="d-flex justify-content-center">
            <a
              href="javascript:void(0);"
              class="btn btn-light me-3"
              data-bs-dismiss="modal"
              >Cancel</a
            >
            <a
              href="javascript:void(0);"
              class="btn btn-danger"
              data-bs-dismiss="modal"
              >Yes, Delete</a
            >
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /Delete Modal -->
