<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="d-md-flex d-block align-items-center justify-content-between mb-3">
            <div class="my-auto mb-2">
                <h3 class="page-title mb-1">Sports</h3>
                <nav>
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item">
                            <a [routerLink] = "routes.adminDashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0);">Management</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Sports</li>
                    </ol>
                </nav>
            </div>
            <div class="d-flex my-xl-auto right-content align-items-center flex-wrap">
                <app-tooltip-content />
                <div class="mb-2">

                    <a href="javascript:void(0);" class="btn btn-primary d-flex align-items-center" data-bs-toggle="modal"
                        data-bs-target="#add_sports"><i class="ti ti-square-rounded-plus me-2"></i>Add Sport</a>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <!-- Students List -->
        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between flex-wrap pb-0">
                <h4 class="mb-3">Sports</h4>
                <div class="d-flex align-items-center flex-wrap">
                    <div class="input-icon-start mb-3 me-2 position-relative">
                        <span class="icon-addon">
                            <i class="ti ti-calendar"></i>
                        </span>
                        <app-date-range-picker />
                    </div>
                    <div class="dropdown mb-3 me-2">
                        <a href="javascript:void(0);" class="btn btn-outline-light bg-white dropdown-toggle"
                            data-bs-toggle="dropdown" data-bs-auto-close="outside"><i
                                class="ti ti-filter me-2"></i>Filter</a>
                        <div class="dropdown-menu drop-width">
                            <form>
                                <div class="d-flex align-items-center border-bottom p-3">
                                    <h4>Filter</h4>
                                </div>
                                <div class="p-3 border-bottom">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">Name</label>
                                                <p-dropdown [options]="[
    { label: 'Select', value: '' },
    { label: 'Cricket', value: 'Cricket' },
    { label: 'Throwball', value: 'Throwball' },
    { label: 'Football', value: 'Football' },
    { label: 'Tennis', value: 'Tennis' },
    { label: 'Basketball', value: 'Basketball' }
  ]" placeholder="Select" class="select"></p-dropdown>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">Coach</label>
                                                <p-dropdown [options]="[
    { label: 'Select', value: '' },
    { label: 'Thomas', value: 'Thomas' },
    { label: 'Georgia', value: 'Georgia' },
    { label: 'Nicholas', value: 'Nicholas' },
    { label: 'Sandra', value: 'Sandra' }
  ]" placeholder="Select" class="select"></p-dropdown>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="mb-0">
                                                <label class="form-label">More Filter</label>
                                                <p-dropdown [options]="[
    { label: 'Filters', value: 'Filters' },
    { label: 'ID', value: 'ID' },
    { label: 'Name', value: 'Name' },
    { label: 'Coach', value: 'Coach' },
    { label: 'Started Year', value: 'Started Year' },
    { label: 'Action', value: 'Action' }
  ]" placeholder="Filters" class="select"></p-dropdown>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="p-3 d-flex align-items-center justify-content-end">
                                    <a href="javascript:void(0);" class="btn btn-light me-3">Reset</a>
                                    <button type="submit" class="btn btn-primary">Apply</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="dropdown mb-3">
                        <a href="javascript:void(0);" class="btn btn-outline-light bg-white dropdown-toggle"
                            data-bs-toggle="dropdown"><i class="ti ti-sort-ascending-2 me-2"></i>Sort by A-Z </a>
                        <ul class="dropdown-menu p-3">
                            <li>
                                <a href="javascript:void(0);" class="dropdown-item rounded-1 active">
                                    Ascending
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                    Descending
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                    Recently Viewed
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                    Recently Added
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body p-0 py-3">
                <div class="table-top px-3">
                    <div class="row">
                        <div class="col-sm-12 col-md-6"></div>
                        <div class="col-sm-12 col-md-6">
                            <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                <label>
                                    <input [(ngModel)]="searchDataValue" [ngModelOptions]="{ standalone: true }"
                                        (ngModelChange)="searchData(searchDataValue)" type="search" class="form-control"
                                        placeholder="Search..." /></label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Student List -->
                <div class="custom-datatable-filter table-responsive">
                    <table matSort (matSortChange)="sortData($event)" class="table datatable">
                        <thead class="thead-light">
                            <tr>
                                <th class="no-sort">
                                    <div class="form-check form-check-md" (click)="selectAll(initChecked)">
                                        <input class="form-check-input" type="checkbox" id="select-all"
                                            [(ngModel)]="initChecked">
                                    </div>
                                </th>
                                <th mat-sort-header="ids">ID</th>
                                <th mat-sort-header="name">Name</th>
                                <th mat-sort-header="coach">Coach</th>
                                <th mat-sort-header="startedYear">Started Year</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (data of tableData; track data) {
                            <tr>
                                <td>
                                    <div class="form-check form-check-md">
                                        <input class="form-check-input" type="checkbox" [(ngModel)]="data.isSelected">
                                    </div>
                                </td>
                                <td><a href="javascript:void(0);" class="link-primary">SP826329</a></td>
                                <td>Cricket</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <a href="javascript:void(0);" class="avatar avatar-md"><img [src]="data.img"
                                                class="img-fluid rounded-circle" alt="img"></a>
                                        <div class="ms-2">
                                            <p class="text-dark mb-0"><a href="javascript:void(0);">Thomas</a>
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td>2004</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="dropdown">
                                            <a href="javascript:void(0);"
                                                class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="ti ti-dots-vertical fs-14"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right p-3">

                                                <li>
                                                    <a class="dropdown-item rounded-1" href="javascript:void(0);" data-bs-toggle="modal"
                                                        data-bs-target="#edit_sports"><i
                                                            class="ti ti-edit-circle me-2"></i>Edit</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item rounded-1" href="javascript:void(0);" data-bs-toggle="modal"
                                                        data-bs-target="#delete-modal"><i
                                                            class="ti ti-trash-x me-2"></i>Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
                <app-custom-pagination />
                <!-- /Student List -->
            </div>
        </div>
        <!-- /Students List -->

    </div>
</div>
<!-- /Page Wrapper -->

<!-- Add Sports -->
<div class="modal fade" id="add_sports">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Sport</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ti ti-x"></i>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Name</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Coach</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="mb-0">
                                <label class="form-label">Started Year</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                    <button type="submit" class="btn btn-primary">Add Sport</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Add Sports -->

<!-- Edit Sports -->
<div class="modal fade" id="edit_sports">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Sport</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ti ti-x"></i>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Name</label>
                                <input type="text" class="form-control" placeholder="Enter Name" value="Cricket">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Coach</label>
                                <input type="text" class="form-control" placeholder="Enter Coach" value="Thomas">
                            </div>
                            <div class="mb-0">
                                <label class="form-label">Started Year</label>
                                <input type="text" class="form-control" placeholder="Enter Started Year" value="2004">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Edit Sports -->

<!-- Delete Modal -->
<div class="modal fade" id="delete-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form>
                <div class="modal-body text-center">
                    <span class="delete-icon">
                        <i class="ti ti-trash-x"></i>
                    </span>
                    <h4>Confirm Deletion</h4>
                    <p>You want to delete all the marked items, this cant be undone once you delete.</p>
                    <div class="d-flex justify-content-center">
                        <a href="javascript:void(0);" class="btn btn-light me-3" data-bs-dismiss="modal">Cancel</a>
                        <button type="submit" class="btn btn-danger">Yes, Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Delete Modal -->