<div class="pe-1 mb-2">
    <a href="javascript:void(0);" class="btn btn-outline-light bg-white btn-icon me-1" data-bs-toggle="tooltip"
        data-bs-placement="top" aria-label="Refresh" data-bs-original-title="Refresh" tooltip="Refresh">
        <i class="ti ti-refresh"></i>
    </a>
</div>
<div class="pe-1 mb-2">
    <button type="button" class="btn btn-outline-light bg-white btn-icon me-1"
        data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Print"
        data-bs-original-title="Print" tooltip="Print">
        <i class="ti ti-printer"></i>
    </button>
</div>
<div class="dropdown me-2 mb-2">
    <a href="javascript:void(0);"
        class="dropdown-toggle btn btn-light fw-medium d-inline-flex align-items-center"
        data-bs-toggle="dropdown">
        <i class="ti ti-file-export me-2"></i>Export
    </a>
    <ul class="dropdown-menu  dropdown-menu-end p-3">
        <li>
            <a href="javascript:void(0);" class="dropdown-item rounded-1"><i
                    class="ti ti-file-type-pdf me-1"></i>Export as PDF</a>
        </li>
        <li>
            <a href="javascript:void(0);" class="dropdown-item rounded-1"><i
                    class="ti ti-file-type-xls me-1"></i>Export as Excel </a>
        </li>
    </ul>
</div>