<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content">
    <!-- Page Header -->
    <div
      class="d-md-flex d-block align-items-center justify-content-between mb-3"
    >
      <div class="my-auto mb-2">
        <h3 class="page-title mb-1">Collect Fees</h3>
        <nav>
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
              <a [routerLink] = "routes.adminDashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
              <a href="javascript:void(0);">Management </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Collect Fees
            </li>
          </ol>
        </nav>
      </div>
      <div class="d-flex my-xl-auto right-content align-items-center flex-wrap">
        <app-tooltip-content></app-tooltip-content>
      </div>
    </div>
    <!-- /Page Header -->

    <!-- Guardians List -->
    <div class="card">
      <div
        class="card-header d-flex align-items-center justify-content-between flex-wrap pb-0"
      >
        <h4 class="mb-3">Fees List</h4>
        <div class="d-flex align-items-center flex-wrap">
          <div class="input-icon-start mb-3 me-2 position-relative">
            <app-date-range-picker></app-date-range-picker>
          </div>
          <div class="dropdown mb-3 me-2">
            <a
              href="javascript:void(0);"
              class="btn btn-outline-light bg-white dropdown-toggle"
              data-bs-toggle="dropdown"
              data-bs-auto-close="outside"
              ><i class="ti ti-filter me-2"></i>Filter</a
            >
            <div class="dropdown-menu drop-width">
              <form>
                <div class="d-flex align-items-center border-bottom p-3">
                  <h4>Filter</h4>
                </div>
                <div class="p-3 border-bottom pb-0">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-0">
                        <label class="form-label">Admisson No</label>
                        
                        <p-dropdown
                          [options]="[
                            { label: 'AD124556', value: '1' },
                            { label: 'AD124555', value: '2' },
                            { label: 'AD124554', value: '3' },
                            { label: 'AD124553', value: '4' },
                            { label: 'AD124552', value: '5' }
                          ]"
                          placeholder="Select"
                          class="select"
                        ></p-dropdown>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-0">
                        <label class="form-label">Roll No</label>

                        <p-dropdown
                          [options]="[
                            { label: '55365', value: '1' },
                            { label: '12454', value: '2' },
                            { label: '65454', value: '3' },
                            { label: '78787', value: '4' }
                          ]"
                          placeholder="Select"
                          class="select"
                        ></p-dropdown>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="mb-0">
                        <label class="form-label">Student</label>

                        <p-dropdown
                          [options]="[
                            { label: 'Janet', value: '1' },
                            { label: 'Joann', value: '2' },
                            { label: 'Kathleen', value: '3' },
                            { label: 'Gifford', value: '4' }
                          ]"
                          placeholder="Select"
                          class="select"
                        ></p-dropdown>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-0">
                        <label class="form-label">Class</label>

                        <p-dropdown
                          [options]="[
                            { label: 'I', value: '1' },
                            { label: 'II', value: '2' },
                            { label: 'III', value: '3' },
                            { label: 'IV', value: '4' }
                          ]"
                          placeholder="Select"
                          class="select"
                        ></p-dropdown>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-0">
                        <label class="form-label">Section</label>

                        <p-dropdown
                          [options]="[
                            { label: 'A', value: '1' },
                            { label: 'B', value: '2' },
                            { label: 'C', value: '3' },
                            { label: 'D', value: '4' }
                          ]"
                          placeholder="Select"
                          class="select"
                        ></p-dropdown>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-0">
                        <label class="form-label">Amount</label>

                        <p-dropdown
                          [options]="[
                            { label: '2000', value: '1' },
                            { label: '156', value: '2' },
                            { label: '645', value: '3' },
                            { label: '456', value: '4' }
                          ]"
                          placeholder="Select"
                          class="select"
                        ></p-dropdown>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-0">
                        <label class="form-label">Last Date</label>
                        
                        <p-dropdown
                          [options]="[
                            { label: '15 May 2024', value: '1' },
                            { label: '19 May 2024', value: '2' },
                            { label: '15 Jun 2024', value: '3' }
                          ]"
                          placeholder="Select"
                          class="select"
                        ></p-dropdown>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="p-3 d-flex align-items-center justify-content-end">
                  <a href="javascript:void(0);" class="btn btn-light me-3"
                    >Reset</a
                  >
                  <a
                    href="javascript:void(0);"
                    (click)="handleApplyClick()"
                    class="btn btn-primary"
                    >Apply</a
                  >
                </div>
              </form>
            </div>
          </div>
          <div class="dropdown mb-3">
            <a
              href="javascript:void(0);"
              class="btn btn-outline-light bg-white dropdown-toggle"
              data-bs-toggle="dropdown"
              ><i class="ti ti-sort-ascending-2 me-2"></i>Sort by A-Z
            </a>
            <ul class="dropdown-menu p-3">
              <li>
                <a
                  href="javascript:void(0);"
                  class="dropdown-item rounded-1 active"
                >
                  Ascending
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                  Descending
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                  Recently Viewed
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                  Recently Added
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body p-0 py-3">
        <!-- Guardians List -->
        <div class="table-top px-3">
          <div class="row">
            <div class="col-sm-12 col-md-6"></div>
            <div class="col-sm-12 col-md-6">
              <div id="DataTables_Table_0_filter" class="dataTables_filter">
                <label>
                  <input
                    [(ngModel)]="searchDataValue"
                    [ngModelOptions]="{ standalone: true }"
                    (ngModelChange)="searchData(searchDataValue)"
                    type="search"
                    class="form-control"
                    placeholder="Search..."
                /></label>
              </div>
            </div>
          </div>
        </div>
        <div class="custom-datatable-filter table-responsive">
          <table
            (matSortChange)="sortData($event)"
            matSort
            matSortActive="Sno"
            matSortDirection="asc"
            matSortDisableClear
            class="table datatable"
          >
            <thead class="thead-light">
              <tr>
                <th class="no-sort">
                  <div class="form-check form-check-md">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="select-all"
                      (click)="selectAll(initChecked)"
                      [(ngModel)]="initChecked"
                    />
                  </div>
                </th>
                <th mat-sort-header="admNo">Adm No</th>
                <th mat-sort-header="rollNo">Roll No</th>
                <th mat-sort-header="student">Student</th>
                <th mat-sort-header="class">Class</th>
                <th mat-sort-header="section">Section</th>
                <th mat-sort-header="amount">Amount ($)</th>
                <th mat-sort-header="lastDate">Last Date</th>
                <th mat-sort-header="status">Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              @for (table of tableData; track table.key) {
              <tr>
                <td>
                  <div class="form-check form-check-md">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [(ngModel)]="table.isSelected"
                    />
                  </div>
                </td>
                <td>
                  <a href="javascript:void(0);" class="link-primary">{{ table.admNo }}</a>
                </td>
                <td>{{ table.rollNo }}</td>
                <td>
                  <div class="d-flex align-items-center">
                    <a [routerLink] = "routes.studentDetails" class="avatar avatar-md"
                      ><img
                        [src]="table.studentImage"
                        class="img-fluid rounded-circle"
                        alt="img"
                    /></a>
                    <div class="ms-2">
                      <p class="text-dark mb-0">
                        <a [routerLink] = "routes.studentDetails">{{ table.student }}</a>
                      </p>
                      <span class="fs-12">{{ table.studentClass }}</span>
                    </div>
                  </div>
                </td>
                <td>{{ table.class }}</td>
                <td>{{ table.section }}</td>
                <td>{{ table.amount }}</td>
                <td>{{ table.lastDate }}</td>
                <td>
                  <span
                    [ngClass]="
                      table.status === 'Paid'
                        ? 'badge-soft-success'
                        : 'badge-soft-danger'
                    "
                    class="badge d-inline-flex align-items-center"
                    ><i class="ti ti-circle-filled fs-5 me-1"></i
                    >{{ table.status }}</span
                  >
                </td>
                <td>
                  <ng-container *ngIf="table.status === 'Paid'">
                    <a [routerLink] = "routes.studentFees" class="btn btn-light"
                      >View Details</a
                    >
                  </ng-container>
                  <ng-container *ngIf="table.status === 'Unpaid'">
                    <a
                      href="javascript:void(0);"
                      class="btn btn-light"
                      data-bs-toggle="modal"
                      data-bs-target="#add_fees_collect"
                      >Collect Fees</a
                    >
                  </ng-container>
                </td>
              </tr>
              } @if (tableData.length === 0) {
              <tr>
                <td colspan="7">
                  <h5 class="no-record text-center">No records found</h5>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
        <app-custom-pagination></app-custom-pagination>
        <!-- /Guardians List -->
      </div>
    </div>
    <!-- /Guardians List -->
  </div>
</div>
<!-- /Page Wrapper -->

<!-- Add Fees Collect -->
<div class="modal fade" id="add_fees_collect">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex align-items-center">
          <h4 class="modal-title">Collect Fees</h4>
          <span class="badge badge-sm bg-primary ms-2">AD124556</span>
        </div>
        <button
          type="button"
          class="btn-close custom-btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="ti ti-x"></i>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="bg-light-300 p-3 pb-0 rounded mb-4">
            <div class="row align-items-center">
              <div class="col-lg-3 col-md-6">
                <div class="d-flex align-items-center mb-3">
                  <a [routerLink] = "routes.studentDetails" class="avatar avatar-md me-2">
                    <img src="assets/img/students/student-01.jpg" alt="img" />
                  </a>
                  <a [routerLink] = "routes.studentDetails" class="d-flex flex-column"
                    ><span class="text-dark">Janet</span>III, A</a
                  >
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="mb-3">
                  <span class="fs-12 mb-1">Total Outstanding</span>
                  <p class="text-dark">2000</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="mb-3">
                  <span class="fs-12 mb-1">Last Date</span>
                  <p class="text-dark">25 May 2024</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="mb-3">
                  <span class="badge badge-soft-danger"
                    ><i class="ti ti-circle-filled me-2"></i>Unpaid</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Fees Group</label>
                <p-dropdown
                  [options]="[
                    { label: 'Select', value: '' },
                    { label: 'Class 1 General', value: 'Class 1 General' },
                    { label: 'Monthly Fees', value: 'Monthly Fees' },
                    { label: 'Admission-Fees', value: 'Admission-Fees' },
                    {
                      label: 'Class 1- I Installment',
                      value: 'Class 1- I Installment'
                    }
                  ]"
                  placeholder="Select"
                  class="select"
                ></p-dropdown>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Fees Type</label>
                <p-dropdown
                  [options]="[
                    { label: 'Select', value: '' },
                    { label: 'Tuition Fees', value: 'Tuition Fees' },
                    { label: 'Monthly Fees', value: 'Monthly Fees' },
                    { label: 'Admission Fees', value: 'Admission Fees' },
                    { label: 'Bus Fees', value: 'Bus Fees' }
                  ]"
                  placeholder="Select"
                  class="select"
                ></p-dropdown>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Amount</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Amout"
                />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3 date-input2">
                <label class="form-label">Collection Date</label>
                <div class="date-pic">
                  <input
                    type="text"
                    class="form-control datetimepicker"
                    bsDatepicker
                    container=".date-input2"
                  />
                  <span class="cal-icon"><i class="ti ti-calendar"></i></span>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Payment Type</label>
                <p-dropdown
                  [options]="[
                    { label: 'Select', value: '' },
                    { label: 'Paytm', value: 'Paytm' },
                    { label: 'Cash On Delivery', value: 'Cash On Delivery' }
                  ]"
                  placeholder="Select"
                  class="select"
                ></p-dropdown>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Payment Reference No</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Payment Reference No"
                />
              </div>
            </div>
            <div class="col-lg-12">
              <div class="d-flex align-items-center justify-content-between">
                <div class="status-title">
                  <h5>Status</h5>
                  <p>Change the Status by toggle</p>
                </div>
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="switch-sm2"
                  />
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="mb-0">
                <label class="form-label">Notes</label>
                <textarea
                  rows="4"
                  class="form-control"
                  placeholder="Add Notes"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal"
            >Cancel</a
          >
          <button type="submit" class="btn btn-primary">Pay Fees</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Add Fees Collect -->
