<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="d-md-flex d-block align-items-center justify-content-between mb-3">
            <div class="my-auto mb-2">
                <h3 class="page-title mb-1">Grade</h3>
                <nav>
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item">
                            <a [routerLink] = "routes.adminDashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0);">Academic </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Grade</li>
                    </ol>
                </nav>
            </div>
            <div class="d-flex my-xl-auto right-content align-items-center flex-wrap">
                <app-tooltip-content />
                <div class="mb-2">
                    <a href="javascript:void(0);" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#add_grade"><i class="ti ti-square-rounded-plus-filled me-2"></i>Add
                        Grade</a>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <!-- Guardians List -->
        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between flex-wrap pb-0">
                <h4 class="mb-3">Grade List</h4>
                <div class="d-flex align-items-center flex-wrap">
                    <div class="input-icon-start mb-3 me-2 position-relative">
                        <app-date-range-picker />
                    </div>
                    <div class="dropdown mb-3 me-2">
                        <a href="javascript:void(0);" class="btn btn-outline-light bg-white dropdown-toggle"
                            data-bs-toggle="dropdown" data-bs-auto-close="outside"><i
                                class="ti ti-filter me-2"></i>Filter</a>
                        <div class="dropdown-menu drop-width">
                            <form>
                                <div class="d-flex align-items-center border-bottom p-3">
                                    <h4>Filter</h4>
                                </div>
                                <div class="p-3 border-bottom pb-0">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mb-3">
                                                <label class="form-label">Grade</label>
                                                <p-dropdown [options]="[
    { label: 'Select', value: '' },
    { label: 'O', value: 'O' },
    { label: 'A+', value: 'A+' },
    { label: 'A', value: 'A' }
  ]" placeholder="Select" class="select"></p-dropdown>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="mb-3">
                                                <label class="form-label">Percentage</label>
                                                <p-dropdown [options]="[
    { label: 'Select', value: '' },
    { label: '90% - 100%', value: '90% - 100%' },
    { label: '80% - 90%', value: '80% - 90%' },
    { label: '70% - 80%', value: '70% - 80%' }
  ]" placeholder="Select" class="select"></p-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-3 d-flex align-items-center justify-content-end">
                                    <a href="javascript:void(0);" class="btn btn-light me-3">Reset</a>
                                    <button type="submit" class="btn btn-primary">Apply</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="dropdown mb-3">
                        <a href="javascript:void(0);" class="btn btn-outline-light bg-white dropdown-toggle"
                            data-bs-toggle="dropdown"><i class="ti ti-sort-ascending-2 me-2"></i>Sort by A-Z
                        </a>
                        <ul class="dropdown-menu p-3">
                            <li>
                                <a href="javascript:void(0);" class="dropdown-item rounded-1 active">
                                    Ascending
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                    Descending
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                    Recently Viewed
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                    Recently Added
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body p-0 py-3">
                <div class="table-top px-3">
                    <div class="row">
                        <div class="col-sm-12 col-md-6"></div>
                        <div class="col-sm-12 col-md-6">
                            <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                <label>
                                    <input [(ngModel)]="searchDataValue" [ngModelOptions]="{ standalone: true }"
                                        (ngModelChange)="searchData(searchDataValue)" type="search" class="form-control"
                                        placeholder="Search..." /></label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Guardians List -->
                <div class="custom-datatable-filter table-responsive">
                    <table matSort (matSortChange)="sortData($event)" class="table datatable">
                        <thead class="thead-light">
                            <tr>
                                <th class="no-sort">
                                    <div class="form-check form-check-md" (click)="selectAll(initChecked)">
                                        <input class="form-check-input" type="checkbox" id="select-all"
                                            [(ngModel)]="initChecked">
                                    </div>
                                </th>
                                <th mat-sort-header="ids">ID</th>
                                <th mat-sort-header="grade">Grade</th>
                                <th mat-sort-header="percentage">Percentage</th>
                                <th mat-sort-header="gradePoints">Grade Points</th>
                                <th mat-sort-header="status">Status </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (data of tableData; track data) {
                            <tr>
                                <td>
                                    <div class="form-check form-check-md">
                                        <input class="form-check-input" type="checkbox" [(ngModel)]="data.isSelected">
                                    </div>
                                </td>
                                <td><a href="javascript:void(0);" class="link-primary">{{data.ids}}</a></td>
                                <td>{{data.grade}}</td>
                                <td>{{data.percentage}}</td>
                                <td>{{data.gradePoints}}</td>
                                <td>
                                    <span class="badge d-inline-flex align-items-center"
                                        [ngClass]="{'badge-soft-success': data.status === 'Active', 'badge-soft-danger': data.status === 'Inactive'}"><i
                                            class="ti ti-circle-filled fs-5 me-1"></i>{{data.status}}</span>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="dropdown">
                                            <a href="javascript:void(0);"
                                                class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="ti ti-dots-vertical fs-14"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right p-3">

                                                <li>
                                                    <a class="dropdown-item rounded-1" href="javascript:void(0);"
                                                        data-bs-toggle="modal" data-bs-target="#edit_grade"><i
                                                            class="ti ti-edit-circle me-2"></i>Edit</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item rounded-1" href="javascript:void(0);"
                                                        data-bs-toggle="modal" data-bs-target="#delete-modal"><i
                                                            class="ti ti-trash-x me-2"></i>Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <app-custom-pagination />
                <!-- /Guardians List -->
            </div>
        </div>
        <!-- /Guardians List -->

    </div>
</div>
<!-- /Page Wrapper -->

<!-- Add Grade -->
<div class="modal fade" id="add_grade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Grade</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ti ti-x"></i>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Grade</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Marks From(%)</label>
                                <p-dropdown [options]="[
    { label: 'Select', value: '' },
    { label: '90', value: '90' }
  ]" placeholder="Select" class="select"></p-dropdown>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Marks Upto(%)</label>
                                <p-dropdown [options]="[
    { label: 'Select', value: '' },
    { label: '100', value: '100' }
  ]" placeholder="Select" class="select"></p-dropdown>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Grade Points</label>
                                <p-dropdown [options]="[
                                  { label: 'Select', value: '' },
                                  { label: '0', value: '0' },
                                  { label: '1', value: '1' },
                                  { label: '2', value: '2' },
                                  { label: '3', value: '3' },
                                  { label: '4', value: '4' },
                                  { label: '5', value: '5' },
                                  { label: '6', value: '6' },
                                  { label: '7', value: '7' }
                                ]" placeholder="Select" class="select"></p-dropdown>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Status</label>
                                <p-dropdown [options]="[
    { label: 'Select', value: '' },
    { label: 'Active', value: 'Active' },
    { label: 'Inactive', value: 'Inactive' }
  ]" placeholder="Select" class="select"></p-dropdown>
                            </div>
                            <div class="mb-0">
                                <label class="form-label">Description</label>
                                <textarea class="form-control" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                    <button type="submit" class="btn btn-primary">Add Grade</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Add Grade -->

<!-- Edit Grade -->
<div class="modal fade" id="edit_grade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Grade</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ti ti-x"></i>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Grade</label>
                                <input type="text" class="form-control" placeholder="Enter Grade" value="O">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Marks From(%)</label>
                                <p-dropdown [options]="[
    { label: 'Select', value: '' },
    { label: '90', value: '90' }
  ]" placeholder="Select" class="select"></p-dropdown>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Marks Upto(%)</label>
                                <p-dropdown [options]="[
    { label: 'Select', value: '' },
    { label: '100', value: '100' }
  ]" placeholder="Select" class="select"></p-dropdown>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Grade Points</label>
                                <p-dropdown [options]="[
    { label: 'Select', value: '' },
    { label: '0', value: '0' },
    { label: '1', value: '1' },
    { label: '2', value: '2' },
    { label: '3', value: '3' },
    { label: '4', value: '4' },
    { label: '5', value: '5' },
    { label: '6', value: '6' },
    { label: '7', value: '7' }
  ]" placeholder="Select" class="select"></p-dropdown>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Status</label>
                                <p-dropdown [options]="[
    { label: 'Select', value: '' },
    { label: 'Active', value: 'Active' },
    { label: 'Inactive', value: 'Inactive' }
  ]" placeholder="Select" class="select"></p-dropdown>
                            </div>
                            <div class="mb-0">
                                <label class="form-label">Description</label>
                                <textarea class="form-control" rows="4" placeholder="Add Comment"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Edit Grade -->

<!-- Delete Modal -->
<div class="modal fade" id="delete-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form>
                <div class="modal-body text-center">
                    <span class="delete-icon">
                        <i class="ti ti-trash-x"></i>
                    </span>
                    <h4>Confirm Deletion</h4>
                    <p>You want to delete all the marked items, this cant be undone once you delete.</p>
                    <div class="d-flex justify-content-center">
                        <a href="javascript:void(0);" class="btn btn-light me-3" data-bs-dismiss="modal">Cancel</a>
                        <button type="submit" class="btn btn-danger">Yes, Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Delete Modal -->