<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="d-md-flex d-block align-items-center justify-content-between mb-3">
            <div class="my-auto mb-2">
                <h3 class="page-title mb-1">Staffs</h3>
                 <nav>
                       <ol class="breadcrumb mb-0">
                          <li class="breadcrumb-item">
                            <a [routerLink] = "routes.adminDashboard">Dashboard</a>
                          </li>
                          <li class="breadcrumb-item">
                            <a href="javascript:void(0);">HRM
                            </a>
                          </li>
                          <li class="breadcrumb-item active" aria-current="page">Staffs</li>
                    </ol>
                  </nav>
            </div>
            <div class="d-flex my-xl-auto right-content align-items-center flex-wrap">
                <app-tooltip-content />              
                  <div class="mb-2">
                
                    <a [routerLink] = "routes.addStaff" class="btn btn-primary d-flex align-items-center"><i
                        class="ti ti-square-rounded-plus me-2"></i>Add Staff</a>
                  </div>
            </div>
        </div>
        <!-- /Page Header -->

        
        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between flex-wrap pb-0">
                <h4 class="mb-3">Staff List</h4>
                <div class="d-flex align-items-center flex-wrap">		
                    <div class="input-icon-start mb-3 me-2 position-relative">
                        <app-date-range-picker />
                    </div>
                    <div class="dropdown mb-3 me-2">
                        <a href="javascript:void(0);" class="btn btn-outline-light bg-white dropdown-toggle"  data-bs-toggle="dropdown"  data-bs-auto-close="outside"><i class="ti ti-filter me-2"></i>Filter</a>
                        <div class="dropdown-menu drop-width">
                            <form>
                                <div class="d-flex align-items-center border-bottom p-3">
                                    <h4>Filter</h4>
                                </div>
                                <div class="p-3 border-bottom">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">Name</label>
                                               
                                                <p-dropdown [options]="[
                                                { label: 'Select', value: '' },
                                                { label: 'Kevin', value: 'Kevin' },
                                                { label: 'Willie', value: 'Willie' },
                                                { label: 'Daniel', value: 'Daniel' },
                                                { label: 'Teresa', value: 'Teresa' },
                                                { label: 'Johnson', value: 'Johnson' }
                                              ]" placeholder="Select" class="select"></p-dropdown>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">Department</label>
                                               
                                                <p-dropdown [options]="[
                                                { label: 'Select', value: '' },
                                                { label: 'Admin', value: 'Admin' },
                                                { label: 'Management', value: 'Management' },
                                                { label: 'Finance', value: 'Finance' },
                                              ]" placeholder="Select" class="select"></p-dropdown>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-0">
                                                <label class="form-label">Designation</label>
                                               
                                                <p-dropdown [options]="[
                                                { label: 'Select', value: '' },
                                                { label: 'Technical Head', value: 'Technical Head' },
                                                { label: 'Receptionist', value: 'Receptionist' },
                                                { label: 'Admin', value: 'Admin' },
                                                { label: 'Accountant', value: 'Accountant' },
                                                { label: 'HR Manager', value: 'HR Manager' },
                                              ]" placeholder="Select" class="select"></p-dropdown>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-0">
                                                <label class="form-label">More Filter</label>
                                               
                                                <p-dropdown [options]="[
                                                { label: 'Select', value: '' },
                                                { label: 'ID', value: 'ID' },
                                                { label: 'Name', value: 'Name' },
                                                { label: 'Department', value: 'Department' },
                                                { label: 'Designation', value: 'Designation' },
                                                { label: 'Phone', value: 'Phone' },
                                                { label: 'Email', value: 'Email' },
                                              ]" placeholder="Select" class="select"></p-dropdown>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="p-3 d-flex align-items-center justify-content-end">
                                    <a href="javascript:void(0);" class="btn btn-light me-3">Reset</a>
                                    <button type="submit" class="btn btn-primary">Apply</button>
                                </div>
                            </form>									
                        </div>
                    </div>
                    
                    <div class="dropdown mb-3">
                        <a href="javascript:void(0);" class="btn btn-outline-light bg-white dropdown-toggle"  data-bs-toggle="dropdown"><i class="ti ti-sort-ascending-2 me-2"></i>Sort by A-Z </a>
                        <ul class="dropdown-menu p-3">
                            <li>
                                <a href="javascript:void(0);" class="dropdown-item rounded-1 active">
                                    Ascending
                                </a>
                            </li>
                            <li><a href="javascript:void(0);" class="dropdown-item rounded-1">
                                    Descending
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                    Recently Viewed
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                    Recently Added
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>	
            </div>
            <div class="card-body p-0 py-3">
                <div class="table-top px-3">
                    <div class="row">
                      <div class="col-sm-12 col-md-6"></div>
                      <div class="col-sm-12 col-md-6">
                        <div id="DataTables_Table_0_filter" class="dataTables_filter">
                          <label>
                            <input
                              [(ngModel)]="searchDataValue"
                              [ngModelOptions]="{ standalone: true }"
                              (ngModelChange)="searchData(searchDataValue)"
                              type="search"
                              class="form-control"
                              placeholder="Search..."
                          /></label>
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- Staffs List -->
                <div class="custom-datatable-filter table-responsive">
                    <table class="table datatable"  (matSortChange)="sortData($event)"
                    matSort
                    matSortActive="Sno"
                    matSortDirection="asc"
                    matSortDisableClearclass="table datatable">
                        <thead class="thead-light">
                            <tr>
                                <th class="no-sort">
                                    <div class="form-check form-check-md">
                                        <input class="form-check-input" type="checkbox" id="select-all"(click)="selectAll(initChecked)"  [(ngModel)]="initChecked">
                                    </div>
                                </th>
                                <th mat-sort-header="id">ID</th>
                            <th mat-sort-header="name">Name</th>
                            <th mat-sort-header="department">Department</th>
                            <th mat-sort-header="designation">Designation </th>
                            <th mat-sort-header="phone">Phone</th>
                            <th mat-sort-header="email">Email</th>
                            <th mat-sort-header="join">Date of Join</th>
                            <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (table of tableData; track table) {
                            <tr>
                                <td>
                                    <div class="form-check form-check-md">
                                        <input class="form-check-input" type="checkbox"  [(ngModel)]="table.isSelected">
                                    </div>
                                </td>
                                <td><a [routerLink] = "routes.staffDetails" class="link-primary">{{ table.id }}</a></td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <a [routerLink] = "routes.staffDetails" class="avatar avatar-md"><img
                                                [src]="table.img"
                                                class="img-fluid rounded-circle" alt="img"></a>
                                        <div class="ms-2">
                                            <p class="text-dark mb-0"><a [routerLink] = "routes.staffDetails">{{table.name}}</a>
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td>{{table.department}}</td>
                                <td>{{table.designation}}</td>
                                <td>{{table.phone}}</td>
                                <td>
                                    {{table.email}}
                                </td>
                                <td>
                                    {{table.dateOfJoin}}
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="dropdown">
                                            <a href="javascript:void(0);"
                                                class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="ti ti-dots-vertical fs-14"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right p-3">
                                                <li>
                                                    <a class="dropdown-item rounded-1"
                                                        [routerLink] = "routes.staffDetails"><i
                                                            class="ti ti-menu me-2"></i>View Staff</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item rounded-1" [routerLink] = "routes.editStaff"><i
                                                            class="ti ti-edit-circle me-2"></i>Edit</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item rounded-1" href="javascript:void(0);"
                                                        data-bs-toggle="modal" data-bs-target="#delete-modal"><i
                                                            class="ti ti-trash-x me-2"></i>Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                        @if (tableData.length === 0) {
                            <tr>
                              <td colspan="6">
                                <h5 class="no-record text-center">No records found</h5>
                              </td>
                            </tr>
                            }  
                        </tbody>
                    </table>
                </div>
                <app-custom-pagination></app-custom-pagination>
                <!-- /Staffs List -->
            </div>
        </div>
            

    </div>
</div>
<!-- /Page Wrapper -->
