<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content">
    <div
      class="d-md-flex d-block align-items-center justify-content-between border-bottom pb-3"
    >
      <div class="my-auto mb-2">
        <h3 class="page-title mb-1">Website Settings</h3>
        <nav>
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
              <a [routerLink] = "routes.adminDashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
              <a href="javascript:void(0);">Settings</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Website Settings
            </li>
          </ol>
        </nav>
      </div>
      <div class="d-flex my-xl-auto right-content align-items-center flex-wrap">
        <div class="pe-1 mb-2">
          <a
            href="javascript:void(0);"
            class="btn btn-outline-light bg-white btn-icon"
            tooltip="Refresh"
          >
            <i class="ti ti-refresh"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xxl-2 col-xl-3">
        <div class="pt-3 d-flex flex-column list-group mb-4">
          <a [routerLink] = "routes.companySettings" [ngClass]="{'active': page === 'company-settings'}"  class="d-block rounded p-2 "
            >Company Settings</a
          >
          <a [routerLink] = "routes.localization" [ngClass]="{'active': page === 'localization'}" class="d-block rounded p-2"
            >Localization</a
          >
          <a [routerLink] = "routes.prefixes" [ngClass]="{'active': page === 'prefixes'}" class="d-block rounded p-2">Prefixes</a>
          <a [routerLink] = "routes.preferences" [ngClass]="{'active': page === 'preferences'}" class="d-block rounded p-2">Preferences</a>
          <a [routerLink] = "routes.socialAuthentication" [ngClass]="{'active': page === 'social-authentication'}" class="d-block rounded p-2"
            >Social Authentication</a
          >
          <a [routerLink] = "routes.language" [ngClass]="{'active': page === 'language-settings'}" class="d-block rounded p-2">Language</a>
        </div>
      </div>
      <div class="col-xxl-10 col-xl-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<!-- /Page Wrapper -->
<!-- Add Language -->
<div class="modal fade" id="add_language">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Language</h4>
        <button
          type="button"
          class="btn-close custom-btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="ti ti-x"></i>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <label class="form-label">Language Name</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Language Name"
                />
              </div>
              <div class="mb-3">
                <label class="form-label">Code</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Code"
                />
              </div>
              <div
                class="modal-satus-toggle d-flex align-items-center justify-content-between mb-3"
              >
                <div class="status-title">
                  <h5>RTL</h5>
                  <p>Change the Status by toggle</p>
                </div>
                <div class="status-toggle modal-status">
                  <input type="checkbox" id="user5" class="check" />
                  <label for="user5" class="checktoggle"> </label>
                </div>
              </div>
              <div
                class="modal-satus-toggle d-flex align-items-center justify-content-between"
              >
                <div class="status-title">
                  <h5>Status</h5>
                  <p>Change the Status by toggle</p>
                </div>
                <div class="status-toggle modal-status">
                  <input type="checkbox" id="user6" class="check" />
                  <label for="user6" class="checktoggle"> </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal"
            >Cancel</a
          >
          <button
            type=" button"
            data-bs-dismiss="modal"
            class="btn btn-primary"
          >
            Add Language
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /Add Language -->

<!-- Edit Language -->
<div class="modal fade" id="edit_language">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Language</h4>
        <button
          type="button"
          class="btn-close custom-btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="ti ti-x"></i>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <label class="form-label">Language Name</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Language Name"
                  value="English"
                />
              </div>
              <div class="mb-3">
                <label class="form-label">Code</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Code"
                  value="en"
                />
              </div>
              <div
                class="modal-satus-toggle d-flex align-items-center justify-content-between mb-3"
              >
                <div class="status-title">
                  <h5>RTL</h5>
                  <p>Change the Status by toggle</p>
                </div>
                <div class="status-toggle modal-status">
                  <input type="checkbox" id="user7" class="check" checked />
                  <label for="user7" class="checktoggle"> </label>
                </div>
              </div>
              <div
                class="modal-satus-toggle d-flex align-items-center justify-content-between"
              >
                <div class="status-title">
                  <h5>Status</h5>
                  <p>Change the Status by toggle</p>
                </div>
                <div class="status-toggle modal-status">
                  <input type="checkbox" id="user8" class="check" checked />
                  <label for="user8" class="checktoggle"> </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal"
            >Cancel</a
          >
          <button
            type=" button"
            data-bs-dismiss="modal"
            class="btn btn-primary"
          >
            Save Changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /Edit Language -->

<!-- Language Setup -->
<div class="modal fade" id="language_setup">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Language Setup</h4>
        <button
          type="button"
          class="btn-close custom-btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="ti ti-x"></i>
        </button>
      </div>
      <div class="modal-body">
        <!-- Table Filter -->
        <div
          class="d-flex align-items-center justify-content-between flex-wrap"
        >
          <div class="d-flex align-items-center">
            <h5 class="mb-3 me-2">Search Criteria</h5>
            <div class="dropdown mb-3 me-2">
              <a
                href="javascript:void(0);"
                class="btn btn-outline-light bg-white dropdown-toggle"
                data-bs-toggle="dropdown"
                data-bs-auto-close="outside"
                ><i class="ti ti-filter me-2"></i>Filter</a
              >
              <div class="dropdown-menu drop-width">
                <form>
                  <div class="d-flex align-items-center border-bottom p-3">
                    <h4>Filter</h4>
                  </div>
                  <div class="p-3 pb-0 border-bottom">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="mb-3">
                          <label class="form-label">Select Language</label>
                          <p-dropdown
                            [options]="[
                              { label: 'English ', value: '1' },
                              { label: 'Arabic', value: '2' },
                              { label: 'Chinese', value: '3' }
                            ]"
                            placeholder="Select"
                            class="select"
                          ></p-dropdown>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="p-3 d-flex align-items-center justify-content-end"
                  >
                    <a href="javascript:void(0);" class="btn btn-light me-3">Reset</a>
                    <button
                      type="button"
                      (click)="handleApplyClick()"
                      class="btn btn-primary"
                    >
                      Apply
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="dropdown mb-3">
            <a
              href="javascript:void(0);"
              class="btn btn-outline-light bg-white dropdown-toggle"
              data-bs-toggle="dropdown"
              ><i class="ti ti-sort-ascending-2 me-2"></i>Sort by A-Z
            </a>
            <ul class="dropdown-menu p-3">
              <li>
                <a
                  href="javascript:void(0);"
                  class="dropdown-item rounded-1 active"
                >
                  Ascending
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                  Descending
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                  Recently Viewed
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                  Recently Added
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- /Table Filter -->

        <div class="table-responsive">
          <div class="custom-table language-setup-table">
            <table class="table">
              <thead>
                <tr>
                  <th>Default Phrases</th>
                  <th>Change Phrases</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Description</td>
                  <td>
                    <input type="text" class="form-control" value="Text" />
                  </td>
                </tr>
                <tr>
                  <td>Description</td>
                  <td>
                    <input type="text" class="form-control" value="Text" />
                  </td>
                </tr>
                <tr>
                  <td>Description</td>
                  <td>
                    <input type="text" class="form-control" value="Text" />
                  </td>
                </tr>
                <tr>
                  <td>Description</td>
                  <td>
                    <input type="text" class="form-control" value="Text" />
                  </td>
                </tr>
                <tr>
                  <td>Description</td>
                  <td>
                    <input type="text" class="form-control" value="Text" />
                  </td>
                </tr>
                <tr>
                  <td>Description</td>
                  <td>
                    <input type="text" class="form-control" value="Text" />
                  </td>
                </tr>
                <tr>
                  <td>Description</td>
                  <td>
                    <input type="text" class="form-control" value="Text" />
                  </td>
                </tr>
                <tr>
                  <td>Description</td>
                  <td>
                    <input type="text" class="form-control" value="Text" />
                  </td>
                </tr>
                <tr>
                  <td>Description</td>
                  <td>
                    <input type="text" class="form-control" value="Text" />
                  </td>
                </tr>
                <tr>
                  <td>Description</td>
                  <td>
                    <input type="text" class="form-control" value="Text" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal"
          >Cancel</a
        >
        <button type="button" data-bs-dismiss="modal" class="btn btn-primary">
          Save Changes
        </button>
      </div>
    </div>
  </div>
</div>
<!-- /Language Setup -->

<!-- Import File -->
<div class="modal fade" id="import_file">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Import Files</h4>
        <button
          type="button"
          class="btn-close custom-btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="ti ti-x"></i>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <label class="form-label">Module Name</label>

                <p-dropdown
                  [options]="[
                    { label: 'Students ', value: '1' },
                    { label: 'Parents', value: '2' },
                    { label: 'Teachers', value: '3' }
                  ]"
                  placeholder="Select"
                  class="select"
                ></p-dropdown>
              </div>
              <div class="mb-0">
                <label class="form-label">Language</label>
                <p-dropdown
                  [options]="[
                    { label: 'English ', value: '1' },
                    { label: 'Arabic', value: '2' },
                    { label: 'Chinese', value: '3' }
                  ]"
                  placeholder="Select"
                  class="select"
                ></p-dropdown>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal"
            >Cancel</a
          >
          <button type="button" data-bs-dismiss="modal" class="btn btn-primary">
            Import
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /Import File -->

<!-- Delete Modal -->
<div class="modal fade" id="delete-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form>
        <div class="modal-body text-center">
          <span class="delete-icon">
            <i class="ti ti-trash-x"></i>
          </span>
          <h4>Confirm Deletion</h4>
          <p>
            You want to delete all the marked items, this cant be undone once
            you delete.
          </p>
          <div class="d-flex justify-content-center">
            <a
              href="javascript:void(0);"
              class="btn btn-light me-2"
              data-bs-dismiss="modal"
              >Cancel</a
            >
            <button
              type="button"
              data-bs-dismiss="modal"
              class="btn btn-danger"
            >
              Yes, Delete
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /Delete Modal -->
