<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content">
    <!-- Page Header -->
    <div
      class="d-md-flex d-block align-items-center justify-content-between mb-3"
    >
      <div class="my-auto mb-2">
        <h3 class="page-title mb-1">Drivers</h3>
        <nav>
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
              <a [routerLink] = "routes.adminDashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
              <a href="javascript:void(0);">Management </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Drivers</li>
          </ol>
        </nav>
      </div>
      <div class="d-flex my-xl-auto right-content align-items-center flex-wrap">
        <app-tooltip-content />
        <div class="mb-2">
          <a
            href="javascript:void(0);"
            class="btn btn-primary d-flex align-items-center"
            data-bs-toggle="modal"
            data-bs-target="#add_driver"
            ><i class="ti ti-square-rounded-plus me-2"></i>Add Vehicle</a
          >
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="card">
      <div
        class="card-header d-flex align-items-center justify-content-between flex-wrap pb-0"
      >
        <h4 class="mb-3">Drivers List</h4>
        <div class="d-flex align-items-center flex-wrap">
          <div class="input-icon-start mb-3 me-2 position-relative">
            <app-date-range-picker />
          </div>
          <div class="dropdown mb-3 me-2">
            <a
              href="javascript:void(0);"
              class="btn btn-outline-light bg-white dropdown-toggle"
              data-bs-toggle="dropdown"
              data-bs-auto-close="outside"
              ><i class="ti ti-filter me-2"></i>Filter</a
            >
            <div class="dropdown-menu drop-width">
              <form>
                <div class="d-flex align-items-center border-bottom p-3">
                  <h4>Filter</h4>
                </div>
                <div class="p-3 border-bottom">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label class="form-label">Driver</label>
                        

                        <p-dropdown [options]="[
                        { label: 'Select', value: '' },
                        { label: 'Thomas', value: 'Thomas' },
                        { label: 'Mary', value: 'Mary' },
                        { label: 'Michael', value: 'Michael' },
                        { label: 'Jessie', value: 'Jessie' },
                        { label: 'Robert', value: 'Robert' },
                      ]" placeholder="Select" class="select"></p-dropdown>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label class="form-label">Status</label>
                      
                        <p-dropdown [options]="[
                        { label: 'Select', value: '' },
                        { label: 'Active', value: 'Active' },
                        { label: 'Inactive', value: 'Inactive' },
                      ]" placeholder="Select" class="select"></p-dropdown>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="mb-0">
                        <label class="form-label">More Filter</label>
                       
                        <p-dropdown [options]="[
                        { label: 'Select', value: '' },
                        { label: 'ID', value: 'ID' },
                        { label: 'Driver', value: 'Driver' },
                        { label: 'Phone Number', value: 'Phone Number' },
                        { label: 'Driver License No', value: 'Driver License No' },
                        { label: 'Address', value: 'Address' },
                        { label: 'Status', value: 'Status' },
                        { label: 'Action', value: 'Action' },
                      ]" placeholder="Select" class="select"></p-dropdown>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="p-3 d-flex align-items-center justify-content-end">
                  <a href="javascript:void(0);" class="btn btn-light me-3">Reset</a>
                  <button type="submit" class="btn btn-primary">Apply</button>
                </div>
              </form>
            </div>
          </div>

          <div class="dropdown mb-3">
            <a
              href="javascript:void(0);"
              class="btn btn-outline-light bg-white dropdown-toggle"
              data-bs-toggle="dropdown"
              ><i class="ti ti-sort-ascending-2 me-2"></i>Sort by A-Z
            </a>
            <ul class="dropdown-menu p-3">
              <li>
                <a
                  href="javascript:void(0);"
                  class="dropdown-item rounded-1 active"
                >
                  Ascending
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                  Descending
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                  Recently Viewed
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                  Recently Added
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body p-0 py-3">
        <div class="table-top px-3">
          <div class="row">
            <div class="col-sm-12 col-md-6"></div>
            <div class="col-sm-12 col-md-6">
              <div id="DataTables_Table_0_filter" class="dataTables_filter">
                <label>
                  <input
                    [(ngModel)]="searchDataValue"
                    [ngModelOptions]="{ standalone: true }"
                    (ngModelChange)="searchData(searchDataValue)"
                    type="search"
                    class="form-control"
                    placeholder="Search..."
                /></label>
              </div>
            </div>
          </div>
        </div>
        <!-- Transport Vechicle List -->
        <div class="custom-datatable-filter table-responsive">
          <table class="table datatable" (matSortChange)="sortData($event)"
          matSort
          matSortActive="Sno"
          matSortDirection="asc"
          matSortDisableClearclass="table datatable">
            <thead class="thead-light">
              <tr>
                <th class="no-sort">
                  <div class="form-check form-check-md">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="select-all"
                      (click)="selectAll(initChecked)"
                      [(ngModel)]="initChecked"
                    />
                  </div>
                </th>
                <th mat-sort-header="id">ID</th>
                <th mat-sort-header="driver">Driver</th>
                <th mat-sort-header="phone">Phone Number</th>
                <th mat-sort-header="license">Driver License No</th>
                <th mat-sort-header="address">Address</th>
                <th mat-sort-header="status">Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              @for (table of tableData; track table) {
              <tr>
                <td>
                  <div class="form-check form-check-md">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="table.isSelected"/>
                  </div>
                </td>
                <td>
                  <a href="javascript:void(0);" class="link-primary">{{ table.id }}</a>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <a href="javascript:void(0);" class="avatar avatar-md"
                      ><img
                        [src]="table.img"
                        class="img-fluid rounded-circle"
                        alt="img"
                    /></a>
                    <div class="ms-2">
                      <p class="text-dark mb-0">
                        <a href="javascript:void(0);">{{ table.name }}</a>
                      </p>
                    </div>
                  </div>
                </td>
                <td>{{ table.phone }}</td>
                <td>{{ table.driverLicenseNo }}</td>
                <td>{{ table.address }}</td>
                <td>
                  <span
                    class="badge d-inline-flex align-items-center"
                    [ngClass]="{
                        'badge-soft-success': table.status === 'Active',
                        'badge-soft-danger': table.status === 'Inactive'
                      }"
                    ><i class="ti ti-circle-filled fs-5 me-1"></i
                    >{{ table.status }}</span
                  >
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="dropdown">
                      <a
                        href="javascript:void(0);"
                        class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <i class="ti ti-dots-vertical fs-14"></i>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-right p-3">
                        <li>
                          <a
                            class="dropdown-item rounded-1"
                            href="javascript:void(0);"
                            data-bs-toggle="modal"
                            data-bs-target="#edit_driver"
                            ><i class="ti ti-edit-circle me-2"></i>Edit</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item rounded-1"
                            href="javascript:void(0);"
                            data-bs-toggle="modal"
                            data-bs-target="#delete-modal"
                            ><i class="ti ti-trash-x me-2"></i>Delete</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
        <app-custom-pagination></app-custom-pagination>
        <!-- /Transport Vechicle List -->
      </div>
    </div>
  </div>
</div>
<!-- /Page Wrapper -->

<!-- Add Driver -->
<div class="modal fade" id="add_driver">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add New Driver</h4>
        <button
          type="button"
          class="btn-close custom-btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="ti ti-x"></i>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" />
              </div>
              <div class="mb-3">
                <label class="form-label">Phone Number</label>
                <input type="text" class="form-control" />
              </div>
              <div class="mb-3">
                <label class="form-label">Driving License Number</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Driving License Number"
                />
              </div>
              <div class="mb-3">
                <label class="form-label">Address</label>
                <input type="text" class="form-control" />
              </div>
            </div>
            <div
              class="modal-satus-toggle d-flex align-items-center justify-content-between"
            >
              <div class="status-title">
                <h5>Status</h5>
                <p>Change the Status by toggle</p>
              </div>
              <div class="status-toggle modal-status">
                <input type="checkbox" id="user1" class="check" />
                <label for="user1" class="checktoggle"> </label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal"
            >Cancel</a
          >
          <button type="submit" class="btn btn-primary">Add Driver</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Add Driver -->

<!-- Edit Driver -->
<div class="modal fade" id="edit_driver">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Driver</h4>
        <button
          type="button"
          class="btn-close custom-btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="ti ti-x"></i>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <label class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Name"
                  value="Thomas"
                />
              </div>
              <div class="mb-3">
                <label class="form-label">Phone Number</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Phone Number"
                  value="+1 64044 74890"
                />
              </div>
              <div class="mb-3">
                <label class="form-label">Driving License Number</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Driving License Number"
                  value="LC7899456689"
                />
              </div>
              <div class="mb-3">
                <label class="form-label">Address</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Address"
                  value="2233 Wood Street, Slidell, LA"
                />
              </div>
            </div>
            <div
              class="modal-satus-toggle d-flex align-items-center justify-content-between"
            >
              <div class="status-title">
                <h5>Status</h5>
                <p>Change the Status by toggle</p>
              </div>
              <div class="status-toggle modal-status">
                <input type="checkbox" id="user2" class="check" checked />
                <label for="user2" class="checktoggle"> </label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal"
            >Cancel</a
          >
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Edit Driver -->

<!-- Delete Modal -->
<div class="modal fade" id="delete-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form>
        <div class="modal-body text-center">
          <span class="delete-icon">
            <i class="ti ti-trash-x"></i>
          </span>
          <h4>Confirm Deletion</h4>
          <p>
            You want to delete all the marked items, this cant be undone once
            you delete.
          </p>
          <div class="d-flex justify-content-center">
            <a
              href="javascript:void(0);"
              class="btn btn-light me-3"
              data-bs-dismiss="modal"
              >Cancel</a
            >
            <button type="submit" class="btn btn-danger">Yes, Delete</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /Delete Modal -->
