<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="d-md-flex d-block align-items-center justify-content-between mb-3">
            <div class="my-auto mb-2">
                <h3 class="page-title mb-1">Comments</h3>
                <nav>
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item">
                            <a [routerLink] = "routes.adminDashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0);">Pages</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Comments</li>
                    </ol>
                </nav>
            </div>
            <div class="d-flex my-xl-auto right-content align-items-center flex-wrap">
                <app-tooltip-content />
                <div class="mb-2">
                    <a href="javascript:void(0);" class="btn btn-primary d-flex align-items-center"
                        data-bs-toggle="modal" data-bs-target="#add_blog"><i
                            class="ti ti-square-rounded-plus me-2"></i>Add Blog</a>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between flex-wrap pb-0">
                <h4 class="mb-3">Comments List</h4>
                <div class="d-flex align-items-center flex-wrap">
                    <div class="input-icon-start mb-3 me-2 position-relative">
                        <app-date-range-picker />
                    </div>
                    <div class="dropdown mb-3 me-2">
                        <a href="javascript:void(0);" class="btn btn-outline-light bg-white dropdown-toggle"
                            data-bs-toggle="dropdown" data-bs-auto-close="outside"><i
                                class="ti ti-filter me-2"></i>Filter</a>
                        <div class="dropdown-menu drop-width">
                            <form>
                                <div class="d-flex align-items-center border-bottom p-3">
                                    <h4>Filter</h4>
                                </div>
                                <div class="p-3 border-bottom">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mb-0">
                                                <label class="form-label">Date</label>
                                                <p-dropdown [options]="[
    { label: 'Select', value: '' },
    { label: 'Education', value: 'Education' },
    { label: 'Advice', value: 'Advice' },
    { label: 'Academic', value: 'Academic' },
    { label: 'Clear Goals', value: 'Clear Goals' }
  ]" placeholder="Select" class="select"></p-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-3 d-flex align-items-center justify-content-end">
                                    <a href="javascript:void(0);" class="btn btn-light me-3">Reset</a>
                                    <button type="submit" class="btn btn-primary">Apply</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="dropdown mb-3">
                        <a href="javascript:void(0);" class="btn btn-outline-light bg-white dropdown-toggle"
                            data-bs-toggle="dropdown"><i class="ti ti-sort-ascending-2 me-2"></i>Sort by A-Z
                        </a>
                        <ul class="dropdown-menu p-3">
                            <li>
                                <a href="javascript:void(0);" class="dropdown-item rounded-1 active">
                                    Ascending
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                    Descending
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                    Recently Viewed
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                    Recently Added
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card-body p-0 py-3">
                <div class="table-top px-3">
                    <div class="row">
                        <div class="col-sm-12 col-md-6"></div>
                        <div class="col-sm-12 col-md-6">
                            <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                <label>
                                    <input [(ngModel)]="searchDataValue" [ngModelOptions]="{ standalone: true }"
                                        (ngModelChange)="searchData(searchDataValue)" type="search" class="form-control"
                                        placeholder="Search..." /></label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Comments List -->
                <div class="custom-datatable-filter
                table-responsive">
                    <table class="table datatable" matSort (matSortChange)="sortData($event)">
                        <thead class="thead-light">
                            <tr>
                                <th class="no-sort">
                                    <div class="form-check form-check-md" (click)="selectAll(initChecked)">
                                        <input class="form-check-input" type="checkbox" id="select-all"
                                            [(ngModel)]="initChecked">
                                    </div>
                                </th>
                                <th mat-sort-header="comment">Comment</th>
                                <th mat-sort-header="date">Date</th>
                                <th mat-sort-header="review">Review</th>
                                <th mat-sort-header="blog">Blog </th>
                                <th mat-sort-header="by">By</th>
                                <th>Action</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (data of tableData; track data) {
                            <tr>
                                <td>
                                    <div class="form-check form-check-md">
                                        <input class="form-check-input" type="checkbox" [(ngModel)]="data.isSelected">
                                    </div>
                                </td>
                                <td class="text-content">{{data.comment}}</td>
                                <td class="text-gray-9">{{data.date}}</td>
                                <td>
                                    <div class="rating">
                                        <i class="ti ti-star-filled filled"></i>
                                        <i class="ti ti-star-filled filled"></i>
                                        <i class="ti ti-star-filled filled"></i>
                                        <i class="ti ti-star-filled filled"></i>
                                        <i class="ti ti-star-filled filled"></i>
                                        <span class="rating-rate">{{data.review}}</span>
                                    </div>
                                </td>
                                <td class="text-gray-9 text-content">{{data.blog}}
                                </td>
                                <td>{{data.by}}</td>
                                <td>
                                    <p-dropdown [options]="[
    { label: 'Select', value: '' },
    { label: 'Unpublish', value: 'Unpublish' },
    { label: 'Publish', value: 'Publish' }
  ]" placeholder="Select" class="select"></p-dropdown>
                                </td>
                                <td><a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete-modal"
                                        class="delete-icon"><i class="ti ti-trash-x"></i></a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <app-custom-pagination></app-custom-pagination>
                <!-- /Comments List -->
            </div>
        </div>
    </div>
</div>
<!-- /Page Wrapper -->

<!-- Add Blog -->
<div class="modal fade" id="add_blog">
    <div class="modal-dialog modal-dialog-centered  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Blogs</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ti ti-x"></i>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Blog Title</label>
                                <input type="text" class="form-control">
                            </div>
                            <label class="form-label">Featured Image</label>
                            <div class="d-flex align-items-center upload-pic flex-wrap row-gap-3 mb-3">
                                <div
                                    class="d-flex align-items-center justify-content-center avatar avatar-xxl border border-dashed me-2 flex-shrink-0 text-dark frames">
                                    <i class="ti ti-photo-plus fs-16"></i>
                                </div>
                                <div class="profile-upload">
                                    <div class="profile-uploader d-flex align-items-center">
                                        <div class="drag-upload-btn mb-3">
                                            Upload
                                            <input type="file" class="form-control image-sign" multiple="">
                                        </div>
                                        <a href="javascript:void(0);" class="btn btn-primary mb-3">Remove</a>
                                    </div>
                                    <p>Upload image size 4MB, Format JPG, PNG, SVG</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Category</label>
                                <p-dropdown [options]="[
    { label: 'Select', value: '' },
    { label: 'Education', value: 'Education' },
    { label: 'Advice', value: 'Advice' },
    { label: 'Academic', value: 'Academic' },
    { label: 'Clear Goals', value: 'Clear Goals' }
  ]" placeholder="Select" class="select"></p-dropdown>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Tags</label>
                                <p-dropdown [options]="[
    { label: 'Select', value: '' },
    { label: 'Guide', value: 'Guide' },
    { label: 'Development', value: 'Development' },
    { label: 'Education', value: 'Education' },
    { label: 'Sports', value: 'Sports' }
  ]" placeholder="Select" class="select"></p-dropdown>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Status</label>
                                <p-dropdown [options]="[
    { label: 'Select', value: '' },
    { label: 'Active', value: 'Active' },
    { label: 'Inactive', value: 'Inactive' }
  ]" placeholder="Select" class="select"></p-dropdown>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-0">
                                <label class="form-label">Description</label>
                                <div class="summernote"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                    <button type="submit" class="btn btn-primary">Add Blog</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Add Blog -->

<!-- Edit Blog -->
<div class="modal fade" id="edit_blog">
    <div class="modal-dialog modal-dialog-centered  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Blogs</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ti ti-x"></i>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Blog Title</label>
                                <input type="text" class="form-control" placeholder="Enter Title"
                                    value="Personal development and self-improvement">
                            </div>
                            <label class="form-label">Featured Image</label>
                            <div class="d-flex align-items-center upload-pic flex-wrap row-gap-3 mb-3">
                                <div
                                    class="d-flex align-items-center justify-content-center avatar avatar-xxl border border-dashed me-2 flex-shrink-0 text-dark frames">
                                    <i class="ti ti-photo-plus fs-16"></i>
                                </div>
                                <div class="profile-upload">
                                    <div class="profile-uploader d-flex align-items-center">
                                        <div class="drag-upload-btn mb-3">
                                            Upload
                                            <input type="file" class="form-control image-sign" multiple="">
                                        </div>
                                        <a href="javascript:void(0);" class="btn btn-primary mb-3">Remove</a>
                                    </div>
                                    <p>Upload image size 4MB, Format JPG, PNG, SVG</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Category</label>
                                <p-dropdown [options]="[
    { label: 'Select', value: '' },
    { label: 'Education', value: 'Education' },
    { label: 'Advice', value: 'Advice' },
    { label: 'Academic', value: 'Academic' },
    { label: 'Clear Goals', value: 'Clear Goals' }
  ]" placeholder="Select" class="select"></p-dropdown>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Tags</label>
                                <p-dropdown [options]="[
    { label: 'Select', value: '' },
    { label: 'Guide', value: 'Guide' },
    { label: 'Development', value: 'Development' },
    { label: 'Education', value: 'Education' },
    { label: 'Sports', value: 'Sports' }
  ]" placeholder="Select" class="select"></p-dropdown>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Status</label>
                                <p-dropdown [options]="[
    { label: 'Select', value: '' },
    { label: 'Active', value: 'Active' },
    { label: 'Inactive', value: 'Inactive' }
  ]" placeholder="Select" class="select"></p-dropdown>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-0">
                                <label class="form-label">Description</label>
                                <div class="summernote">Introduction: Are you struggling to stay focused and get
                                    things done? Do you find yourself procrastinating or feeling overwhelmed by
                                    your workload? You're not alone. In today's fast-paced world, maintaining
                                    productivity can be a challenge. But fear not! In this article, we'll share
                                    five proven strategies to help you boost your productivity and reclaim
                                    control of your time.
                                    1. Set Clear Goals: One of the most effective ways to increase productivity
                                    is to set clear, achievable goals. Start by defining what you want to
                                    accomplish, and break down your goals into smaller, manageable tasks. This
                                    will help you stay focused and motivated as you work towards achieving your
                                    objectives.
                                    2. Prioritize Your Tasks: Not all tasks are created equal. To maximize your
                                    productivity, it's essential to prioritize your tasks based on their
                                    importance and urgency. Identify the most critical tasks that align with
                                    your goals and focus your time and energy on completing them first. This
                                    will prevent you from getting bogged down by less important tasks and ensure
                                    that you're making progress towards your objectives.
                                    3. Eliminate Distractions: Distractions can derail your productivity and
                                    prevent you from staying focused on your work. Identify common distractions
                                    in your environment, such as social media, email notifications, or noisy
                                    surroundings, and take steps to minimize or eliminate them. This could
                                    involve turning off notifications, setting designated work hours, or
                                    creating a distraction-free workspace where you can concentrate without
                                    interruption.
                                    4. Use Time Management Techniques: Effective time management is key to
                                    enhancing productivity. Experiment with different time management
                                    techniques, such as the Pomodoro Technique, time blocking, or the Eisenhower
                                    Matrix, to find a system that works best for you. By allocating your time
                                    wisely and staying organized, you can maximize your efficiency and
                                    accomplish more in less time.
                                    5. Take Regular Breaks: Contrary to popular belief, taking regular breaks
                                    can actually improve productivity. Research has shown that short breaks can
                                    help refresh your mind, prevent burnout, and enhance focus and
                                    concentration. Incorporate short breaks into your workday, and use them to
                                    rest, recharge, and rejuvenate. Whether it's going for a walk, practicing
                                    mindfulness, or simply taking a few deep breaths, find activities that help
                                    you relax and unwind before diving back into your work.
                                    Conclusion: Boosting productivity is not an overnight process, but with
                                    dedication and consistent effort, you can develop habits and strategies that
                                    will help you work smarter, not harder. By setting clear goals, prioritizing
                                    tasks, eliminating distractions, managing your time effectively, and taking
                                    regular breaks, you can unlock your full potential and achieve greater
                                    success in both your personal and professional life.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Edit Blog -->

<!-- Delete Modal -->
<div class="modal fade" id="delete-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form>
                <div class="modal-body text-center">
                    <span class="delete-icon">
                        <i class="ti ti-trash-x"></i>
                    </span>
                    <h4>Confirm Deletion</h4>
                    <p>You want to delete all the marked items, this cant be undone once you delete.</p>
                    <div class="d-flex justify-content-center">
                        <a href="javascript:void(0);" class="btn btn-light me-3" data-bs-dismiss="modal">Cancel</a>
                        <button type="submit" class="btn btn-danger">Yes, Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Delete Modal -->