<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content content-two">
    <!-- Page Header -->
    <div
      class="d-md-flex d-block align-items-center justify-content-between mb-3"
    >
      <div class="my-auto mb-2">
        <h3 class="mb-1">Add Staff</h3>
        <nav>
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
              <a [routerLink] = "routes.adminDashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item">HRM</li>
            <li class="breadcrumb-item active" aria-current="page">
              Add Staff
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
      <div class="col-md-12">
        <form (ngSubmit)="onSubmit()">
          <!-- Personal Information -->
          <div class="card">
            <div class="card-header bg-light">
              <div class="d-flex align-items-center">
                <span
                  class="bg-white avatar avatar-sm me-2 text-gray-7 flex-shrink-0"
                >
                  <i class="ti ti-info-square-rounded fs-16"></i>
                </span>
                <h4 class="text-dark">Personal Information</h4>
              </div>
            </div>
            <div class="card-body pb-1">
              <div class="add-section">
                <div class="row">
                  <div class="col-md-12">
                    <div
                      class="d-flex align-items-center flex-wrap row-gap-3 mb-3"
                    >
                      <div
                        class="d-flex align-items-center justify-content-center avatar avatar-xxl border border-dashed me-2 flex-shrink-0 text-dark frames"
                      >
                        <i class="ti ti-photo-plus fs-16"></i>
                      </div>
                      <div class="profile-upload">
                        <div class="profile-uploader d-flex align-items-center">
                          <div class="drag-upload-btn mb-3">
                            Upload
                            <input
                              type="file"
                              class="form-control image-sign"
                              multiple=""
                            />
                          </div>
                          <a
                            href="javascript:void(0);"
                            class="btn btn-primary mb-3"
                            >Remove</a
                          >
                        </div>
                        <p class="fs-12">
                          Upload image size 4MB, Format JPG, PNG, SVG
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row row-cols-xxl-5 row-cols-md-6">
                  <div class="col-xxl col-xl-3 col-md-6">
                    <div class="mb-3">
                      <label class="form-label">First Name</label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-xxl col-xl-3 col-md-6">
                    <div class="mb-3">
                      <label class="form-label">Last Name</label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-xxl col-xl-3 col-md-6">
                    <div class="mb-3">
                      <label class="form-label">Role</label>

                      <p-dropdown
                        [options]="[
                          { label: 'Teacher', value: '1' },
                          { label: 'Accountant', value: '2' },
                          { label: 'Librarian', value: '3' }
                        ]"
                        placeholder="Select"
                        class="select"
                      ></p-dropdown>
                    </div>
                  </div>
                  <div class="col-xxl col-xl-3 col-md-6">
                    <div class="mb-3">
                      <label class="form-label">Department</label>
                      <p-dropdown
                        [options]="[
                          { label: 'Admin', value: '1' },
                          { label: 'Management', value: '2' },
                          { label: 'Academic', value: '3' },
                          { label: 'Library', value: '4' }
                        ]"
                        placeholder="Select"
                        class="select"
                      ></p-dropdown>
                    </div>
                  </div>
                  <div class="col-xxl col-xl-3 col-md-6">
                    <div class="mb-3">
                      <label class="form-label">Designation</label>
                      <p-dropdown
                        [options]="[
                          { label: 'Teacher', value: '1' },
                          { label: 'Accountant', value: '2' },
                          { label: 'Librarian', value: '3' }
                        ]"
                        placeholder="Select"
                        class="select"
                      ></p-dropdown>
                    </div>
                  </div>
                  <div class="col-xxl col-xl-3 col-md-6">
                    <div class="mb-3">
                      <label class="form-label">Gender</label>
                      <p-dropdown
                        [options]="[
                          { label: 'Female', value: '1' },
                          { label: 'Male', value: '2' }
                        ]"
                        placeholder="Select"
                        class="select"
                      ></p-dropdown>
                    </div>
                  </div>
                  <div class="col-xxl col-xl-3 col-md-6">
                    <div class="mb-3">
                      <label class="form-label">Primary Contact Number</label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-xxl col-xl-3 col-md-6">
                    <div class="mb-3">
                      <label class="form-label">Email Address</label>
                      <input type="email" class="form-control" />
                    </div>
                  </div>
                  <div class="col-xxl col-xl-3 col-md-6">
                    <div class="mb-3">
                      <label class="form-label">Blood Group</label>
                      <p-dropdown
                        [options]="[
                          { label: 'Select', value: '' },
                          { label: 'O +ve', value: 'O +ve' },
                          { label: 'B +ve', value: 'B +ve' },
                          { label: 'B -ve', value: 'B -ve' }
                        ]"
                        placeholder="Select"
                        class="select"
                      ></p-dropdown>
                    </div>
                  </div>
                  <div class="col-xxl col-xl-3 col-md-6">
                    <div class="mb-3">
                      <label class="form-label">Marital Status</label>
                      <p-dropdown
                        [options]="[
                          { label: 'Select', value: '' },
                          { label: 'Single', value: 'Single' },
                          { label: 'Married', value: 'Married' }
                        ]"
                        placeholder="Select"
                        class="select"
                      ></p-dropdown>
                    </div>
                  </div>
                  <div class="col-xxl col-xl-3 col-md-6">
                    <div class="mb-3">
                      <label class="form-label">Father’s Name</label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-xxl col-xl-3 col-md-6">
                    <div class="mb-3">
                      <label class="form-label">Mother’s Name</label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-xxl col-xl-3 col-md-6">
                    <div class="mb-3">
                      <label class="form-label">Date of Birth</label>
                      <div class="input-icon position-relative">
                        <span class="input-icon-addon">
                          <i class="ti ti-calendar"></i>
                        </span>
                        <input
                          type="text"
                          class="form-control datetimepicker"
                          placeholder="dd-mm-yyyy"
                          bsDatepicker
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl col-xl-3 col-md-6">
                    <div class="mb-3">
                      <label class="form-label">Date of Joining</label>
                      <div class="input-icon position-relative">
                        <span class="input-icon-addon">
                          <i class="ti ti-calendar"></i>
                        </span>
                        <input
                          type="text"
                          class="form-control datetimepicker"
                          placeholder="dd-mm-yyyy"
                          bsDatepicker
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl col-xl-3 col-md-6">
                    <div class="mb-3">
                      <label class="form-label">Language Known</label>
                      <p-chips class="input-tags" [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="values"></p-chips>
                    </div>
                  </div>
                  <div class="col-xxl-4 col-xl-3 col-md-6">
                    <div class="mb-3">
                      <label class="form-label">Qualification</label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-xxl-4 col-xl-3 col-md-6">
                    <div class="mb-3">
                      <label class="form-label">Work Experience</label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-xxl-4 col-xl-3 col-md-6">
                    <div class="mb-3">
                      <label class="form-label">Note</label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-xxl-6 col-xl-3 col-md-6">
                    <div class="mb-3">
                      <label class="form-label">Address</label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-xxl-6 col-xl-3 col-md-6">
                    <div class="mb-3">
                      <label class="form-label">Permanent Address</label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Personal Information -->

          <!-- Payroll -->
          <div class="card">
            <div class="card-header bg-light">
              <div class="d-flex align-items-center">
                <span
                  class="bg-white avatar avatar-sm me-2 text-gray-7 flex-shrink-0"
                >
                  <i class="ti ti-user-shield fs-16"></i>
                </span>
                <h4 class="text-dark">Payroll</h4>
              </div>
            </div>
            <div class="card-body pb-1">
              <div class="row">
                <div class="col-lg-3 col-md-6">
                  <div class="mb-3">
                    <label class="form-label">EPF No</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Basic Salary</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Contract Type</label>
                    <p-dropdown
                      [options]="[
                        { label: 'Select', value: '' },
                        { label: 'Permanent', value: 'Permanent' },
                        { label: 'Temporary', value: 'Temporary' }
                      ]"
                      placeholder="Select"
                      class="select"
                    ></p-dropdown>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Work Shift</label>
                    <p-dropdown
                      [options]="[
                        { label: 'Select', value: '' },
                        { label: 'Morning', value: 'Morning' },
                        { label: 'Afternoon', value: 'Afternoon' }
                      ]"
                      placeholder="Select"
                      class="select"
                    ></p-dropdown>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Work Location</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Payroll -->

          <!-- Leaves -->
          <div class="card">
            <div class="card-header bg-light">
              <div class="d-flex align-items-center">
                <span
                  class="bg-white avatar avatar-sm me-2 text-gray-7 flex-shrink-0"
                >
                  <i class="ti ti-users fs-16"></i>
                </span>
                <h4 class="text-dark">Leaves</h4>
              </div>
            </div>
            <div class="card-body pb-1">
              <div class="row">
                <div class="col-lg-3 col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Medical Leaves</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Casual Leaves</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Maternity Leaves</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Sick Leaves</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Leaves -->

          <!-- Bank Details -->
          <div class="card">
            <div class="card-header bg-light">
              <div class="d-flex align-items-center">
                <span
                  class="bg-white avatar avatar-sm me-2 text-gray-7 flex-shrink-0"
                >
                  <i class="ti ti-users fs-16"></i>
                </span>
                <h4 class="text-map">Bank Account Detail</h4>
              </div>
            </div>
            <div class="card-body pb-1">
              <div class="row">
                <div class="col-lg-4 col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Account Name</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Account Number</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Bank Name</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="mb-3">
                    <label class="form-label">IFSC Code</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Branch Name</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Bank Details -->

          <!-- Transport Information -->
          <div class="card">
            <div
              class="card-header bg-light d-flex align-items-center justify-content-between"
            >
              <div class="d-flex align-items-center">
                <span
                  class="bg-white avatar avatar-sm me-2 text-gray-7 flex-shrink-0"
                >
                  <i class="ti ti-bus-stop fs-16"></i>
                </span>
                <h4 class="text-dark">Transport Information</h4>
              </div>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" />
              </div>
            </div>
            <div class="card-body pb-1">
              <div class="row">
                <div class="col-lg-4 col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Route</label>
                    <p-dropdown
                      [options]="[
                        { label: 'Select', value: '' },
                        { label: 'Newyork', value: 'Newyork' },
                        { label: 'Denver', value: 'Denver' },
                        { label: 'Chicago', value: 'Chicago' }
                      ]"
                      placeholder="Select"
                      class="select"
                    ></p-dropdown>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Vehicle Number</label>
                    <p-dropdown
                      [options]="[
                        { label: 'Select', value: '' },
                        { label: 'AM 54548', value: 'AM 54548' },
                        { label: 'AM 64528', value: 'AM 64528' },
                        { label: 'AM 123548', value: 'AM 123548' }
                      ]"
                      placeholder="Select"
                      class="select"
                    ></p-dropdown>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Pickup Point</label>
                    <p-dropdown
                      [options]="[
                        { label: 'Select', value: '' },
                        { label: 'Cincinatti', value: 'Cincinatti' },
                        { label: 'Illinois', value: 'Illinois' },
                        { label: 'Morgan', value: 'Morgan' }
                      ]"
                      placeholder="Select"
                      class="select"
                    ></p-dropdown>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Transport Information -->

          <!-- Hostel Information -->
          <div class="card">
            <div class="card-header bg-light">
              <div class="d-flex align-items-center">
                <span
                  class="bg-white avatar avatar-sm me-2 text-gray-7 flex-shrink-0"
                >
                  <i class="ti ti-building-fortress fs-16"></i>
                </span>
                <h4 class="text-dark">Hostel Information</h4>
              </div>
            </div>
            <div class="card-body pb-1">
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Hostel</label>
                    <p-dropdown
                      [options]="[
                        { label: 'Select', value: '' },
                        {
                          label: 'Phoenix Residence',
                          value: 'Phoenix Residence'
                        },
                        { label: 'Tranquil Haven', value: 'Tranquil Haven' },
                        { label: 'Radiant Towers', value: 'Radiant Towers' },
                        { label: 'Nova Nest', value: 'Nova Nest' }
                      ]"
                      placeholder="Select"
                      class="select"
                    ></p-dropdown>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Room No</label>
                    <p-dropdown
                      [options]="[
                        { label: 'Select', value: '' },
                        { label: '20', value: '20' },
                        { label: '22', value: '22' },
                        { label: '24', value: '24' },
                        { label: '26', value: '26' }
                      ]"
                      placeholder="Select"
                      class="select"
                    ></p-dropdown>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Hostel Information -->

          <!-- Social Media Links -->
          <div class="card">
            <div class="card-header bg-light">
              <div class="d-flex align-items-center">
                <span
                  class="bg-white avatar avatar-sm me-2 text-gray-7 flex-shrink-0"
                >
                  <i class="ti ti-building fs-16"></i>
                </span>
                <h4 class="text-dark">Social Media Links</h4>
              </div>
            </div>
            <div class="card-body pb-1">
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Facebook URL</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Twitter URL</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Linkediin URL</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Instagram URL</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Social Media Links -->

          <!-- Documents -->
          <div class="card">
            <div class="card-header bg-light">
              <div class="d-flex align-items-center">
                <span
                  class="bg-white avatar avatar-sm me-2 text-gray-7 flex-shrink-0"
                >
                  <i class="ti ti-file fs-16"></i>
                </span>
                <h4 class="text-dark">Documents</h4>
              </div>
            </div>
            <div class="card-body pb-1">
              <div class="row">
                <div class="col-lg-6">
                  <div class="mb-2">
                    <div class="mb-3">
                      <label class="form-label">Upload Resume</label>
                      <p>Upload image size of 4MB, Accepted Format PDF</p>
                    </div>
                    <div class="d-flex align-items-center flex-wrap">
                      <div class="btn btn-primary drag-upload-btn mb-2 me-2">
                        <i class="ti ti-file-upload me-1"></i>Change
                        <input
                          type="file"
                          class="form-control image_sign"
                          multiple=""
                        />
                      </div>
                      <p class="mb-2">Resume.pdf</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="mb-2">
                    <div class="mb-3">
                      <label class="form-label">Upload Joining Letter</label>
                      <p>Upload image size of 4MB, Accepted Format PDF</p>
                    </div>
                    <div class="d-flex align-items-center flex-wrap">
                      <div class="btn btn-primary drag-upload-btn mb-2">
                        <i class="ti ti-file-upload me-1"></i>Upload Document
                        <input
                          type="file"
                          class="form-control image_sign"
                          multiple=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Documents -->

          <!-- Password -->
          <div class="card">
            <div class="card-header bg-light">
              <div class="d-flex align-items-center">
                <span
                  class="bg-white avatar avatar-sm me-2 text-gray-7 flex-shrink-0"
                >
                  <i class="ti ti-file fs-16"></i>
                </span>
                <h4 class="text-dark">Password</h4>
              </div>
            </div>
            <div class="card-body pb-1">
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="form-label">New Password</label>
                    <input type="password" class="form-control" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Password -->

          <div class="text-end">
            <button type="button" class="btn btn-light me-3">Cancel</button>
            <button type="submit" class="btn btn-primary">Add Staff</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Page Wrapper -->
