<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="d-md-flex d-block align-items-center justify-content-between mb-3">
            <div class="my-auto mb-2">
                <h3 class="page-title mb-1">Staff Attendance</h3>
                <nav>
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item">
                            <a [routerLink] = "routes.adminDashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0);">Report</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Staff
                            Attendance</li>
                    </ol>
                </nav>
            </div>
            <div class="d-flex my-xl-auto right-content align-items-center flex-wrap">
                <app-tooltip-content />
            </div>
        </div>
        <!-- /Page Header -->

        <!-- Student List -->
        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between flex-wrap pb-0">
                <h4 class="mb-3">Staff Attendance List</h4>
                <div class="d-flex align-items-center flex-wrap">
                    <div class="input-icon-start mb-3 me-2 position-relative">
                        <app-date-range-picker />
                    </div>
                    <div class="dropdown mb-3 me-2">
                        <a href="javascript:void(0);" class="btn btn-outline-light bg-white dropdown-toggle"
                            data-bs-toggle="dropdown" data-bs-auto-close="outside"><i
                                class="ti ti-filter me-2"></i>Filter</a>
                        <div class="dropdown-menu drop-width">
                            <form>
                                <div class="d-flex align-items-center border-bottom p-3">
                                    <h4>Filter</h4>
                                </div>
                                <div class="p-3 border-bottom">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mb-3">
                                                <label class="form-label">ID</label>
                                                <p-dropdown [options]="[
    { label: 'Select', value: '' },
    { label: 'T849127', value: 'T849127' },
    { label: 'T849125', value: 'T849125' },
    { label: 'T849126', value: 'T849126' }
  ]" placeholder="Select" class="select"></p-dropdown>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="mb-3">
                                                <label class="form-label">Name</label>
                                                <p-dropdown [options]="[
    { label: 'Select', value: '' },
    { label: 'Janet', value: 'Janet' },
    { label: 'Joann', value: 'Joann' },
    { label: 'Kathleen', value: 'Kathleen' }
  ]" placeholder="Select" class="select"></p-dropdown>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-0">
                                                <label class="form-label">Department</label>
                                                <p-dropdown [options]="[
    { label: 'Select', value: '' },
    { label: 'Admin', value: 'Admin' },
    { label: 'Management', value: 'Management' },
    { label: 'Finance', value: 'Finance' }
  ]" placeholder="Select" class="select"></p-dropdown>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-0">
                                                <label class="form-label">Designation</label>
                                                <p-dropdown [options]="[
    { label: 'Select', value: '' },
    { label: 'Technical Head', value: 'Technical Head' },
    { label: 'Receptionist', value: 'Receptionist' },
    { label: 'Accountant', value: 'Accountant' }
  ]" placeholder="Select" class="select"></p-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-3 d-flex align-items-center justify-content-end">
                                    <a href="javascript:void(0);" class="btn btn-light me-3">Reset</a>
                                    <button type="submit" class="btn btn-primary">Apply</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="dropdown mb-3">
                        <a href="javascript:void(0);" class="btn btn-outline-light bg-white dropdown-toggle"
                            data-bs-toggle="dropdown"><i class="ti ti-sort-ascending-2 me-2"></i>Sort by A-Z
                        </a>
                        <ul class="dropdown-menu p-3">
                            <li>
                                <a href="javascript:void(0);" class="dropdown-item rounded-1 active">
                                    Ascending
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                    Descending
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                    Recently Viewed
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                    Recently Added
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body p-0 py-3">
                <div class="table-top px-3">
                    <div class="row">
                        <div class="col-sm-12 col-md-6"></div>
                        <div class="col-sm-12 col-md-6">
                            <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                <label>
                                    <input [(ngModel)]="searchDataValue" [ngModelOptions]="{ standalone: true }"
                                        (ngModelChange)="searchData(searchDataValue)" type="search" class="form-control"
                                        placeholder="Search..." /></label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Student List -->
                <div class="custom-datatable-filter table-responsive">
                    <table class="table datatable" matSort (matSortChange)="sortData($event)">
                        <thead class="thead-light">
                            <tr>
                                <th class="no-sort">
                                    <div class="form-check form-check-md" (click)="selectAll(initChecked)">
                                        <input class="form-check-input" type="checkbox" id="select-all"
                                            [(ngModel)]="initChecked">
                                    </div>
                                </th>
                                <th mat-sort-header="ids">ID</th>
                                <th mat-sort-header="name">Name</th>
                                <th mat-sort-header="department">Department </th>
                                <th mat-sort-header="designation">Designation</th>
                                <th mat-sort-header="attendance">Attendance</th>
                                <th mat-sort-header="notes" style="min-width: 200px;">Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (data of tableData; track data) {
                            <tr>
                                <td>
                                    <div class="form-check form-check-md">
                                        <input class="form-check-input" type="checkbox" [(ngModel)]="data.isSelected">
                                    </div>
                                </td>
                                <td><a href="javascript:void(0);" class="link-primary">{{data.ids}}</a></td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <a href="javascript:void(0);" class="avatar avatar-md"><img [src]="data.img"
                                                class="img-fluid rounded-circle" alt="img"></a>
                                        <div class="ms-2">
                                            <p class="text-dark mb-0"><a href="javascript:void(0);">{{data.name}}</a>
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td>{{data.department}}</td>
                                <td>{{data.designation}}</td>
                                <td>
                                    <div class="d-flex align-items-center check-radio-group flex-nowrap">
                                        <label class="custom-radio">
                                            <input type="radio" [name]="'attendance-' + data.key" value="Present"
                                                [(ngModel)]="data.attendance"
                                                (change)="handleOptionChange(data.key, 'Present')" />
                                            <span class="checkmark"></span>
                                            Present
                                        </label>
                                        <label class="custom-radio">
                                            <input type="radio" [name]="'attendance-' + data.key" value="Late"
                                                [(ngModel)]="data.attendance"
                                                (change)="handleOptionChange(data.key, 'Late')" />
                                            <span class="checkmark"></span>
                                            Late
                                        </label>
                                        <label class="custom-radio">
                                            <input type="radio" [name]="'attendance-' + data.key" value="Absent"
                                                [(ngModel)]="data.attendance"
                                                (change)="handleOptionChange(data.key, 'Absent')" />
                                            <span class="checkmark"></span>
                                            Absent
                                        </label>
                                        <label class="custom-radio">
                                            <input type="radio" [name]="'attendance-' + data.key" value="Holiday"
                                                [(ngModel)]="data.attendance"
                                                (change)="handleOptionChange(data.key, 'Holiday')" />
                                            <span class="checkmark"></span>
                                            Holiday
                                        </label>
                                        <label class="custom-radio">
                                            <input type="radio" [name]="'attendance-' + data.key" value="Halfday"
                                                [(ngModel)]="data.attendance"
                                                (change)="handleOptionChange(data.key, 'Halfday')" />
                                            <span class="checkmark"></span>
                                            Halfday
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <input type="text" class="form-control" placeholder="Enter Name">
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <app-custom-pagination />
                <!-- /Student List -->
            </div>
        </div>
        <!-- /Student List -->

    </div>
</div>
<!-- /Page Wrapper -->