<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content">
        <div class="row">

            <!-- Page Header -->
            <div class="col-md-12">
                <div class="d-md-flex d-block align-items-center justify-content-between mb-3">
                    <div class="my-auto mb-2">
                        <h3 class="page-title mb-1">Teacher Details</h3>
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a [routerLink]="routes.adminDashboard">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a [routerLink]="routes.teachersList">Teachers</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Teacher Details</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="d-flex my-xl-auto right-content align-items-center  flex-wrap">
                        <a href="javascript:void(0);" class="btn btn-light me-2 mb-2" data-bs-toggle="modal"
                            data-bs-target="#login_detail"><i class="ti ti-lock me-2"></i>Login Details</a>
                        <a [routerLink]="routes.editTeacher" class="btn btn-primary d-flex align-items-center mb-2"><i
                                class="ti ti-edit-circle me-2"></i>Edit Teacher</a>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->
        </div>

        <div class="row">

            <!-- Teacher Information -->
            <div class="col-xxl-3 col-xl-4 theiaStickySidebar">
                <div class="stickybar mb-4">
                    <div class="card border-white">
                        <div class="card-header">
                            <div class="d-flex align-items-center flex-wrap row-gap-3">
                                <div
                                    class="d-flex align-items-center justify-content-center avatar avatar-xxl border border-dashed me-2 flex-shrink-0 text-dark frames">
                                    <img src="assets/img/teachers/teacher-01.jpg" class="img-fluid" alt="img">
                                </div>
                                <div>
                                    <h5 class="mb-1 mb-1 text-truncate">Teresa</h5>
                                    <p class="text-primary mb-1">T849126</p>
                                    <p>Joined : 25 May 24</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="mb-3">Basic Information</h5>
                            <dl class="row mb-0">
                                <dt class="col-6 fw-medium text-dark mb-3">Class & Section</dt>
                                <dd class="col-6  mb-3">III, A</dd>
                                <dt class="col-6 fw-medium text-dark mb-3">Subject</dt>
                                <dd class="col-6  mb-3">Physics</dd>
                                <dt class="col-6 fw-medium text-dark mb-3">Gender</dt>
                                <dd class="col-6  mb-3">Female</dd>
                                <dt class="col-6 fw-medium text-dark mb-3">Blood Group</dt>
                                <dd class="col-6  mb-3">O +ve</dd>
                                <dt class="col-6 fw-medium text-dark mb-3">House</dt>
                                <dd class="col-6  mb-3">Red</dd>
                                <dt class="col-6 fw-medium text-dark mb-3">Language Known</dt>
                                <dd class="col-6  mb-3">English</dd>
                                <dt class="col-6 fw-medium text-dark mb-0">Language</dt>
                                <dd class="col-6  mb-0"><span
                                        class="badge badge-light text-dark me-2">English</span><span
                                        class="badge badge-light text-dark">Spanish</span></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="card border-white">
                        <div class="card-body">
                            <h5 class="mb-3 ">Primary Contact Info</h5>
                            <div class="d-flex align-items-center mb-3">
                                <span class="avatar avatar-md bg-light-300 rounded me-2 flex-shrink-0 text-default"><i
                                        class="ti ti-phone"></i></span>
                                <div>
                                    <span class=" text-dark fw-medium mb-1">Phone Number</span>
                                    <p>+1 46548 84498</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="avatar avatar-md bg-light-300 rounded me-2 flex-shrink-0 text-default"><i
                                        class="ti ti-mail"></i></span>
                                <div>
                                    <span class="text-dark fw-medium mb-1">Email Address</span>
                                    <p>jan&#64;example.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card border-white">
                        <div class="card-body pb-1">
                            <h5 class="mb-3">PAN Number / ID Number</h5>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center mb-3">
                                    <span
                                        class="avatar avatar-md bg-light-300 rounded me-2 flex-shrink-0 text-default"><i
                                            class="ti ti-id"></i></span>
                                    <div>
                                        <p class="text-dark">343445954908</p>
                                    </div>
                                </div>
                                <a class="btn btn-primary btn-icon btn-sm mb-3">
                                    <i class="ti ti-copy"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card border-white">
                        <div class="card-body pb-1">
                            <ul class="nav nav-tabs nav-tabs-bottom mb-3">
                                <li class="nav-item"><a class="nav-link active" href="#hostel"
                                        data-bs-toggle="tab">Hostel</a></li>
                                <li class="nav-item"><a class="nav-link" href="#transport"
                                        data-bs-toggle="tab">Transportation</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="hostel">
                                    <div class="d-flex align-items-center mb-3">
                                        <span
                                            class="avatar avatar-md bg-light-300 rounded me-2 flex-shrink-0 text-default"><i
                                                class="ti ti-building-fortress fs-16"></i></span>
                                        <div>
                                            <h6 class="mb-1">HI-Hostel, Floor</h6>
                                            <p class="text-primary">Room No : 25</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="transport">
                                    <div class="d-flex align-items-center mb-3">
                                        <span
                                            class="avatar avatar-md bg-light-300 rounded me-2 flex-shrink-0 text-default"><i
                                                class="ti ti-bus fs-16"></i></span>
                                        <div>
                                            <span class="fs-12 mb-1">Route</span>
                                            <p class="text-dark">Newyork</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="mb-3">
                                                <span class="fs-12 mb-1">Bus Number</span>
                                                <p class="text-dark">AM 54548</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb-3">
                                                <span class="fs-12 mb-1">Pickup Point</span>
                                                <p class="text-dark">Cincinatti</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Teacher Information -->

            <div class="col-xxl-9 col-xl-8">
                <div class="row">
                    <div class="col-md-12">

                        <!-- List -->
                        <ul class="nav nav-tabs nav-tabs-bottom mb-4">
                            <li>
                                <a [routerLink]="routes.teacherDetails" class="nav-link "><i
                                        class="ti ti-school me-2"></i>Teacher Details</a>
                            </li>
                            <li>
                                <a [routerLink]="routes.teacherRoutine" class="nav-link"><i
                                        class="ti ti-table-options me-2"></i>Routine</a>
                            </li>
                            <li>
                                <a [routerLink]="routes.teacherLeaves" class="nav-link "><i
                                        class="ti ti-calendar-due me-2"></i>Leave & Attendance</a>
                            </li>
                            <li>
                                <a [routerLink]="routes.teacherSalary" class="nav-link active"><i
                                        class="ti ti-report-money me-2"></i>Salary</a>
                            </li>
                            <li>
                                <a [routerLink]="routes.teacherLibrary" class="nav-link"><i
                                        class="ti ti-bookmark-edit me-2"></i>Library</a>
                            </li>

                        </ul>
                        <!-- /List -->
                        <div class="students-leaves-tab">
                            <div class="row">

                                <div class="col-md-6 col-xxl-3 d-flex">
                                    <div
                                        class="d-flex align-items-center justify-content-between rounded border p-3 mb-3 flex-fill bg-white">
                                        <div class="ms-2">
                                            <p class="mb-1">Total Net Salary</p>
                                            <h5>$5,55,410</h5>
                                        </div>
                                        <span
                                            class="avatar avatar-lg bg-secondary-transparent rounded flex-shrink-0 text-secondary"><i
                                                class="ti ti-user-dollar fs-24"></i></span>
                                    </div>
                                </div>


                                <div class="col-md-6 col-xxl-3 d-flex">
                                    <div
                                        class="d-flex align-items-center justify-content-between rounded border p-3 mb-3 flex-fill bg-white">
                                        <div class="ms-2">
                                            <p class="mb-1">Total Gross Salary</p>
                                            <h5>$5,58,380</h5>
                                        </div>
                                        <span
                                            class="avatar avatar-lg bg-success-transparent rounded flex-shrink-0 text-success"><i
                                                class="ti ti-moneybag fs-24"></i></span>
                                    </div>
                                </div>

                                <div class="col-md-6 col-xxl-3 d-flex">
                                    <div
                                        class="d-flex align-items-center justify-content-between rounded border p-3 mb-3 flex-fill bg-white">
                                        <div class="ms-2">
                                            <p class="mb-1">Total Deduction</p>
                                            <h5>$2,500</h5>
                                        </div>
                                        <span
                                            class="avatar avatar-lg bg-warning-transparent rounded flex-shrink-0 text-warning"><i
                                                class="ti ti-arrow-big-down-lines fs-24"></i></span>
                                    </div>
                                </div>
                            </div>


                            <div class="card">
                                <div
                                    class="card-header d-flex align-items-center justify-content-between flex-wrap pb-0">
                                    <h4 class="mb-3">Salary</h4>
                                </div>
                                <div class="card-body p-0 py-3">
                                    <div class="table-top px-3">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6"></div>
                                            <div class="col-sm-12 col-md-6">
                                                <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                                    <label>
                                                        <input [(ngModel)]="searchDataValue"
                                                            [ngModelOptions]="{ standalone: true }"
                                                            (ngModelChange)="searchData(searchDataValue)" type="search"
                                                            class="form-control" placeholder="Search..." /></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Payroll List -->
                                    <div class=" custom-datatable-filter table-responsive">
                                        <table matSort (matSortChange)="sortData($event)" class="table datatable">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th class="no-sort">
                                                        <div class="form-check form-check-md"
                                                            (click)="selectAll(initChecked)">
                                                            <input class="form-check-input" type="checkbox"
                                                                id="select-all" [(ngModel)]="initChecked">
                                                        </div>
                                                    </th>
                                                    <th mat-sort-header="ids">ID</th>
                                                    <th mat-sort-header="salaryFor">Salary For</th>
                                                    <th mat-sort-header="date">Date</th>
                                                    <th mat-sort-header="paymentMethod">Payment Method</th>
                                                    <th mat-sort-header="netSalary">Net Salary</th>
                                                    <th class="no-sort"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (data of tableData; track data) {
                                                <tr>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox"
                                                                [(ngModel)]="data.isSelected">
                                                        </div>
                                                    </td>
                                                    <td><a href="javascript:void(0);"
                                                            class="link-primary">{{data.ids}}</a></td>
                                                    <td>{{data.salaryFor}}</td>
                                                    <td>{{data.date}}</td>
                                                    <td>{{data.paymentMethod}}</td>
                                                    <td>{{data.netSalary}}</td>
                                                    <td><a href="javascript:void(0);" class="btn btn-light add-fee">View
                                                            Payslip</a></td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <app-custom-pagination />
                                    <!-- /Payroll List -->
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Wrapper -->
<!-- Apply Leave -->
<div class="modal fade" id="apply_leave">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Apply Leave</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ti ti-x"></i>
                </button>
            </div>
            <form >
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Leave Date</label>
                                <div class="date-pic">
                                    <input type="text" class="form-control datetimepicker" bsDatepicker
                                        [bsConfig]="{ adaptivePosition: true }" placeholder="15 May 2024">
                                    <span class="cal-icon"><i class="ti ti-calendar"></i></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Leave Type</label>
                               
                                <p-dropdown
                                [options]="[
                                  { label: 'ID ', value: '1' },
                                  { label: 'Medical Leave', value: 'Medical Leave' },
                                  { label: 'Casual Leave', value: 'Casual Leave' },
                                  { label: 'Special Leave', value: 'Special Leave' },
                                  { label: 'Maternity Leave', value: 'Maternity Leave' },
                                ]"
                                placeholder="Select"
                                class="select"
                              ></p-dropdown>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Leave From date</label>
                                <div class="date-pic">
                                    <input type="text" class="form-control datetimepicker" bsDatepicker
                                        [bsConfig]="{ adaptivePosition: true }" placeholder="15 May 2024">
                                    <span class="cal-icon"><i class="ti ti-calendar"></i></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Leave to Date</label>
                                <div class="date-pic">
                                    <input type="text" class="form-control datetimepicker" bsDatepicker
                                        [bsConfig]="{ adaptivePosition: true }" placeholder="15 May 2024">
                                    <span class="cal-icon"><i class="ti ti-calendar"></i></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Leave Days</label>
                                <div class="d-flex align-items-center check-radio-group">
                                    <label class="custom-radio">
                                        <input type="radio" name="radio" checked="">
                                        <span class="checkmark"></span>
                                        Full day
                                    </label>
                                    <label class="custom-radio">
                                        <input type="radio" name="radio">
                                        <span class="checkmark"></span>
                                        First Half
                                    </label>
                                    <label class="custom-radio">
                                        <input type="radio" name="radio">
                                        <span class="checkmark"></span>
                                        Second Half
                                    </label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">No of Days</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="mb-0">
                                <label class="form-label">Reason</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                    <button type="submit" class="btn btn-primary">Apply Leave</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Apply Leave -->

<!-- Login Details -->
<div class="modal fade" id="login_detail">
    <div class="modal-dialog modal-dialog-centered  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Login Details</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ti ti-x"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="student-detail-info">
                    <span class="student-img"><img src="assets/img/students/student-01.jpg" alt="Img"></span>
                    <div class="name-info">
                        <h6>Janet <span>III, A</span></h6>
                    </div>
                </div>
                <div class="table-responsive custom-table no-datatable_length">
                    <table class="table datanew">
                        <thead class="thead-light">
                            <tr>
                                <th>User Type</th>
                                <th>User Name</th>
                                <th>Password </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Parent</td>
                                <td>parent53</td>
                                <td>parent&#64;53</td>
                            </tr>
                            <tr>
                                <td>Student</td>
                                <td>student20</td>
                                <td>stdt&#64;53</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>
<!-- /Login Details -->