		<!-- Page Wrapper -->
		<div class="page-wrapper">
			<div class="content">
				<div class="d-md-flex d-block align-items-center justify-content-between border-bottom pb-3">
					<div class="my-auto mb-2">
						<h3 class="page-title mb-1">General Settings</h3>
						<nav>
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item">
									<a [routerLink] = "routes.adminDashboard">Dashboard</a>
								</li>
								<li class="breadcrumb-item">
									<a href="javascript:void(0);">Settings</a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">General Settings</li>
							</ol>
						</nav>
					</div>
					<div class="d-flex my-xl-auto right-content align-items-center flex-wrap">
						<div class="pe-1 mb-2">
							<a href="javascript:void(0);" class="btn btn-outline-light bg-white btn-icon" data-bs-toggle="tooltip"
								data-bs-placement="top" aria-label="Refresh" data-bs-original-title="Refresh" tooltip="Refresh">
								<i class="ti ti-refresh"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xxl-2 col-xl-3">
						<div class="pt-3 d-flex flex-column list-group mb-4">
							<a [routerLink]="routes.profileSettings" routerLinkActive="active"  class="d-block rounded p-2 active">Profile Settings</a>
							<a [routerLink] = "routes.securitySettings"  routerLinkActive="active" class="d-block rounded p-2">Security Settings</a>
							<a [routerLink] = "routes.notificationsSettings" routerLinkActive="active" class="d-block rounded p-2">Notifications</a>
							<a [routerLink] = "routes.connectedApps" routerLinkActive="active" class="d-block rounded p-2">Connected Apps</a>
						</div>
					</div>
					<div class="col-xxl-10 col-xl-9">
						<router-outlet></router-outlet>
					</div>
				</div>
			</div>
		</div>
		<!-- /Page Wrapper -->
		 		<!-- Delete Modal -->
		<div class="modal fade" id="delete-modal">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<form>
						<div class="modal-body text-center">
							<span class="delete-icon">
								<i class="ti ti-trash-x"></i>
							</span>
							<h4>Confirm Deletion</h4>
							<p>You want to delete all the marked items, this cant be undone once you delete.</p>
							<div class="d-flex justify-content-center">
								<a href="javascript:void(0);" class="btn btn-light me-3"
									data-bs-dismiss="modal">Cancel</a>
								<a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-danger">Yes, Delete</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- /Delete Modal -->