<div
  class="main-wrapper"
  [ngClass]="{ 'slide-nav': mobileSidebar === true,
  'expand-menu': expandMenu === true,
  'mini-sidebar': miniSidebar === true,
  'light': navigationColor === 'light_color', 
  'dark': navigationColor === 'dark_color',
  'primarysidebar':  navigationColor === 'primary_color',
  'darkblack':  navigationColor === 'darkblack_color',
  'darkblue':  navigationColor === 'darkblue_color',
  'violet': fontColor === 'violet_font_color',
  'pink': fontColor === 'pink_font_color',
  'orange': fontColor === 'orange_font_color',
  'red': fontColor === 'red_font_color',
  'green': fontColor === 'green_font_color',
  'lightmode':themeMode === 'light_mode',
  'darktheme':themeMode === 'dark_mode' || base === 'layout-dark' || showDark === true,
  'default':layoutMode === 'default_layout',
  'mini mini-sidebar':layoutMode === 'mini_layout' || base === 'layout-mini' ,
  'box layout-box-mode':layoutMode === 'box_layout' || base === 'layout-box',
  'layout-mode-rtl':layoutMode === 'rtl_layout' || page === 'layout-rtl',
  'white':TopColor === 'white_top',
  'darkTop':TopColor === 'dark_top',
  'primaryTop':TopColor === 'primary_top',
  'grey':TopColor === 'grey_top',
  'sidebarbg1': backgroundMode === 'sidebar_bg1',
  'sidebarbg2': backgroundMode === 'sidebar_bg2', 
  'sidebarbg3': backgroundMode === 'sidebar_bg3', 
  'sidebarbg4': backgroundMode === 'sidebar_bg4',
  'sidebarbg5': backgroundMode === 'sidebar_bg5',
  'sidebarbg6': backgroundMode === 'sidebar_bg6',
}"
>
<div *ngIf="showPreloader" id="global-loader">
  <div class="page-loader"></div>
</div>

@if (page !== 'coming-soon' && page !== 'under-maintenance') {
  <app-header></app-header>

  <app-sidebar></app-sidebar>
  <app-layout></app-layout>
  }
  <router-outlet></router-outlet>
</div>
