/* You can add global styles to this file, and also import other style files */
@import "ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/material/material.scss";
@import "./assets/scss/main.scss";
@import url("https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lightgallery.css");
@import url("https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-zoom.css");
@import url("https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-video.css");
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

mat-slider {
  width: 100% !important;
}

mat-select.custom-mat-select .mat-mdc-select-trigger {
  border: 1px solid #E9EDF4;
  line-height: 38px;
  border-radius: 5px;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 15px;
  background: #fff;
  height: 38px;
}

.custom-mat-select.space-mat-select .mat-mdc-select-value {
  padding-left: 15px;
}

div mat-option.mat-mdc-option {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
}

mat-option span img {
  width: 16px;
  height: 16px;
  border-radius: 5px;
  margin-right: 5px;
}

mat-option.mat-mdc-option .mdc-list-item__primary-text {
  display: flex;
  align-items: center;
}

.mat-mdc-slider.mat-primary {
  --mdc-slider-handle-color: #ed5565;
  --mdc-slider-active-track-color: #ed5565;
  --mat-mdc-slider-hover-ripple-color: #ed5565;
  --mat-mdc-slider-focus-ripple-color: #ed5565;
  --mdc-slider-focus-handle-color: #ed5565;
}

.moder-skin .mat-mdc-slider.mat-primary {
  --mdc-slider-active-track-color: #20b426;
  --mdc-slider-handle-color: #a3adc1;
  --mdc-slider-focus-handle-color: #a3adc1;
}

.sharp-skin .mat-mdc-slider.mat-primary {
  --mdc-slider-active-track-color: #ee22fa;
  --mdc-slider-handle-color: #ee22fa;
  --mdc-slider-focus-handle-color: #ee22fa;
}

.round-skin .mat-mdc-slider.mat-primary {
  --mdc-slider-active-track-color: #006cfa;
  --mdc-slider-handle-color: #006cfa;
  --mdc-slider-focus-handle-color: #006cfa;
}

.square-Skin .mat-mdc-slider.mat-primary {
  --mdc-slider-active-track-color: black;
  --mdc-slider-handle-color: black;
  --mdc-slider-focus-handle-color: black;
}

.square-Skin .mat-mdc-slider .mdc-slider__thumb-knob {
  top: -5px;
  width: 16px;
  height: 16px;
  border: 3px solid black;
  background-color: white;
  box-sizing: border-box;
  -ms-transform: rotate(45deg);
  border-radius: 0px;
  transform: rotate(45deg);
}

.sharp-skin .mat-mdc-slider .mdc-slider__thumb-knob {
  top: 10px;
  background-color: #a804b2;
  border-radius: 0px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #a804b2;
}

.moder-skin .mat-mdc-slider .mdc-slider__thumb-knob {
  top: 10px;
  position: absolute;
  display: block;
  border-radius: 0px;
  width: 6px;
  height: 11px;
  border: 1px solid #a3adc1;
  background: white;
}

.round-skin .mat-mdc-slider .mdc-slider__thumb-knob {
  top: -5px;
  width: 20px;
  height: 20px;
  border: 3px solid #006cfa;
  background-color: white;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.square-Skin.mat-mdc-slider .mdc-slider__thumb-knob {
  top: 25px;
  width: 10px;
  height: 10px;
  background-color: #a804b2;
}

.moder-skin .mat-mdc-slider.mat-primary {
  height: 2px;
  --mdc-slider-active-track-color: #20b426;
  --mdc-slider-handle-color: #a3adc1;
}

.sharp-skin .mat-mdc-slider.mat-primary {
  height: 2px;
  --mdc-slider-active-track-color: #ee22fa;
}

.round-skin .mat-mdc-slider.mat-primary {
  height: 4px;
  --mdc-slider-active-track-color: #006cfa;
}

.square-Skin .mat-mdc-slider.mat-primary {
  height: 4px;
  --mdc-slider-active-track-color: black;
}

.tooltip-inner button .tooltip-content-danger {
  background-color: #ff0000;
}

.tooltip-content-danger .tooltip.bs-tooltip-top .arrow::before {
  border-top-color: #ff0000;
}

.tooltip-inner button .tooltip-content-primary {
  background-color: #506EE4;
}

.tooltip-content-primary .tooltip.bs-tooltip-top .arrow::before {
  border-top-color: #506EE4;
}

// .tooltip-content-primary .tooltip-inner {
//   background-color: #ff9900;
// }

// .tooltip-content-primary .tooltip.bs-tooltip-top .arrow::before {
//   border-top-color: #ff9900;
// }

.tooltip-content-secondary .tooltip-inner {
  background-color: #092c4c;
}

.tooltip-content-secondary .tooltip.bs-tooltip-top .arrow::before {
  border-top-color: #092c4c;
  display: none;
}

.tooltip-content-warning .tooltip-inner,
.tooltip-icon-custom-wrapper .tooltip-inner,
.custom-link-tooltip .tooltip-inner {
  background-color: #ff9900;
}

.tooltip-content-warning .tooltip.bs-tooltip-top .arrow::before,
.tooltip-icon-custom-wrapper .tooltip.bs-tooltip-top .arrow::before,
.custom-link-tooltip .tooltip.bs-tooltip-top .arrow::before {
  border-top-color: #ff9900;
}

.tooltip-content-primary .tooltip-inner,
.tooltip-icon-custom-wrapper .tooltip-inner,
.custom-link-tooltip .tooltip-inner {
  background-color: #506EE4;
}

.tooltip-content-primary .tooltip.bs-tooltip-top .arrow::before,
.tooltip-icon-custom-wrapper .tooltip.bs-tooltip-top .arrow::before,
.custom-link-tooltip .tooltip.bs-tooltip-top .arrow::before {
  border-top-color: #506EE4;
}

.tooltip-content-info .tooltip-inner {
  background-color: #138698;
}

.tooltip-content-info .tooltip.bs-tooltip-top .arrow::before {
  border-top-color: #138698;
}

.tooltip-content-success .tooltip-inner {
  background-color: #28c76f;
}

.tooltip-content-success .tooltip.bs-tooltip-top .arrow::before {
  border-top-color: #28c76f;
}

.tooltip-content-danger .tooltip-inner {
  background-color: #ff0000;
}

.tooltip-content-danger .tooltip.bs-tooltip-top .arrow::before {
  border-top-color: #ff0000;
}

.tooltip-content-light .tooltip-inner {
  background-color: #f8f9fa;
}

.tooltip-content-light .tooltip.bs-tooltip-top .arrow::before {
  border-top-color: #f8f9fa;
}

.tooltip-content-dark .tooltip-inner {
  background-color: #29344a;
}

.tooltip-content-dark .tooltip.bs-tooltip-top .arrow::before {
  border-top-color: #29344a;
}

div.cdk-overlay-container {
  z-index: 10000000;
}

.scroll-demo {
  height: 300px;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

cdk-virtual-scroll-viewport .horizontal-scroll {
  overflow-y: hidden !important;
}

.otp-pass input {
  border: none;
}

.clipboard.test input {
  border: none;
}

ngx-editor .NgxEditor {
  border: 1px solid #e0e0e0;
  box-shadow: none;
  border-radius: 5px;
  margin: 0;
  padding: 9px 12px;
  font-size: 14px;
  font-weight: 400;
  color: #3f4254;
  height: 150px;
}

.tooltip.bs-tooltip-top {
  top: -5px !important;
}

.popover-list .btn {
  position: relative;
  border-radius: 4px;
}

.popover-list a {
  position: relative;
  border-radius: 4px;

}

a.feather-size {
  position: unset;
  border: none;
  margin: 0;
  font-size: 20px;
}

span.custom-disabled-span {
  border: none;
  position: unset;
}

mat-option.mat-mdc-option:focus.mdc-list-item,
mat-option.mat-mdc-option.mat-mdc-option-active.mdc-list-item {
  background-color: #3D5EE1;
}

mat-option.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
  background-color: #3D5EE1;
}

mat-option.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
  background-color: #3D5EE1;
  color: #fff;
}

mat-option.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
  color: inherit;
}

mat-option.mat-mdc-option:hover:not(.mdc-list-item--disabled) {
  background-color: #3D5EE1;
}

.mat-mdc-option .mat-pseudo-checkbox-minimal {
  display: none;
}

.mat-mdc-select-arrow-wrapper .mat-mdc-select-arrow {
  color: #8a909a;
}

mat-option.mat-mdc-option {
  min-height: 35px;
  font-size: 14px;
}

mat-option.mat-mdc-option-active .mdc-list-item__primary-text,
mat-option.mat-mdc-option:hover .mdc-list-item__primary-text {
  color: #fff;
}

.mat-mdc-select-trigger .mat-mdc-select-value {
  font-size: 14px;
  color: #0e0e46;
}

.mat-mdc-select-trigger .mat-mdc-select-placeholder {
  color: #0E0E46;
}

bs-datepicker-container .theme-green .bs-datepicker-head,
.bs-datepicker.theme-green .bs-datepicker-head {
  background-color: #3D5EE1;
}

bs-datepicker-container .theme-green .bs-datepicker-body table td span.selected,
bs-datepicker-container .theme-green .bs-datepicker-body table td.selected span,
bs-datepicker-container .theme-green .bs-datepicker-body table td span[class*="select-"]:after,
bs-datepicker-container .theme-green .bs-datepicker-body table td[class*="select-"] span:after,
.bs-datepicker.theme-green .bs-datepicker-body table td span.selected,
.bs-datepicker.theme-green .bs-datepicker-body table td.selected span,
.bs-datepicker.theme-green .bs-datepicker-body table td span[class*="select-"]:after,
.bs-datepicker.theme-green .bs-datepicker-body table td[class*="select-"] span:after {
  background-color: #3D5EE1;
}

.theme-green .bs-datepicker-body table td.week span {
  color: #3D5EE1;
}

mat-tooltip-component .mat-mdc-tooltip .mdc-tooltip__surface {
  background-color: #000;
  padding: 10px;
  font-size: 14px;
}

app-tooltip-content {
  display: flex;
}

.dataTables_filter {
  text-align: end;
}

.dataTables_length {
  position: absolute;
  top: 20px;
  left: 16px;
}

.card-body {
  position: relative;
}

span.p-chips-token-label {
  font-size: 14px;
  color: #6A7287;
}

p-chips.p-element.p-inputwrapper ul.p-inputtext.p-chips-multiple-container {
  border: none;
  box-shadow: none;
}

p-chips.p-element.p-inputwrapper ul.p-inputtext.p-chips-multiple-container:focus {
  box-shadow: none;
}

.p-focus.p-inputwrapper-focus {
  box-shadow: none;
  outline: 0;
  // border: 0;
}

div.p-chips.p-component ul {
  max-height: 38px;
  border-radius: 5px;
  overflow: auto;
  width: 100%;
}

div.p-chips.p-component {
  border: 1px solid #E9EDF4;
  border-radius: 5px;
  width: 100%;
}

li.p-chips-input-token input {
  width: 30px;
}

ul li.p-chips-token {
  background: #E9EDF4;
  border-radius: 5px;
  padding: 0 5px;
  font-size: 14px;
  color: #515B73;
  display: inline-flex;
  align-items: center;
}

ul.p-inputtext.p-chips-multiple-container {
  padding: 0.45rem 0.625rem;
}

.p-element.p-icon-wrapper svg {
  width: 12px;
}
.p-chips-token-label {
  padding: 2px;
}
p-dropdown {
  display: block;

  .p-dropdown {
    height: 38px;
    line-height: 15px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #E9EDF4;
  }

  .p-dropdown.p-dropdown-open .p-element.p-icon-wrapper svg {
    transform: rotate(180deg);
    transition: all .5s;
  }

  .p-dropdown.p-dropdown-open .p-element.p-icon-wrapper svg {
    transform: rotate(180deg);
    transition: all .5s;
  }

  .p-dropdown .p-element.p-icon-wrapper svg {
    width: 12px;
  }

  .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus {
    background: #ddd;
  }

  .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
    background: #3D5EE1;
    color: #FFF;
  }

  .p-dropdown:not(.p-disabled).p-focus {
    box-shadow: none;
    border-color: #E9EDF4;
  }

  .p-dropdown-label.p-placeholder {
    color: #6A7287;
  }

  .p-dropdown-label {
    font-size: 14px;
    color: #202C4B;
    font-weight: 400;
  }
}

#cutom-select-id {
  position: relative;
}

.mat-form-field {
  width: 100%;
}

.custom-mat-select.table-mat-select .mat-mdc-select-trigger {
  min-width: 110px;
}

.modal-daterange-picker span.icon-addon {
  display: none;
}

// .p-calendar {
//   &.p-calendar-timeonly {
//     width: 100%;

//     .p-datepicker .p-timepicker span {
//       font-size: 14px;
//     }
//   }

// }

.student-slider .owl-carousel .owl-nav,
.teacher-slider .owl-carousel .owl-nav {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.student-slider .owl-carousel .owl-nav .owl-prev,
.student-slider .owl-carousel .owl-nav .owl-next,
.teacher-slider .owl-carousel .owl-nav .owl-prev,
.teacher-slider .owl-carousel .owl-nav .owl-next {
  width: 24px;
  height: 24px;
  background: #FFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.teacher-slider .owl-carousel .owl-nav .owl-prev:hover,
.teacher-slider .owl-carousel .owl-nav .owl-next:hover,
.student-slider .owl-carousel .owl-nav .owl-prev:hover,
.student-slider .owl-carousel .owl-nav .owl-next:hover {
  background: #3D5EE1;
  color: #FFF;
}

.teacher-slider .owl-carousel .owl-nav i,
.student-slider .owl-carousel .owl-nav i {
  color: #000;
}

.teacher-slider .owl-carousel .owl-nav i:hover,
.student-slider .owl-carousel .owl-nav i:hover {
  color: #FFF;
}

.task-slider div.owl-nav {
  display: none;
}

.custom-cal-angular {
  text-align: center;
}

.custom-cal-angular {
  width: 100%;
}

div.p-datepicker {
  background: #ffffff;
  color: #000;
  border: none;
}

.datepickers {
  .p-datepicker {
    border: none;
    padding: 0;

    table td {
      padding: 5px;
    }

    table td>span {
      width: 120px;
      height: 32px;
      border-radius: 4px;
      font-size: 14px;
    }

    table td.p-datepicker-today>span {
      background-color: #3d5ee1;
      color: #fff;
    }
  }

  .p-datepicker-header {
    border: none;
  }

  .p-yearpicker {
    padding: 10px;
  }

  .p-monthpicker {
    padding: 10px;
  }
}

.p-datepicker .p-datepicker-header .p-datepicker-prev,
.p-datepicker .p-datepicker-header .p-datepicker-next {
  height: 1rem;
}

.p-datepicker .p-datepicker-header .p-datepicker-prev,
.p-datepicker .p-datepicker-header .p-datepicker-next {
  height: 24px;
  width: 24px;
  border: 1px solid #e9edf4;
  border-radius: 50%;
  padding: 6px;
}

.p-datepicker .p-datepicker-header .p-datepicker-prev:hover,
.p-datepicker .p-datepicker-header .p-datepicker-next:hover {
  background: #343c44;
  border-color: #343c44;
}

.p-datepicker .p-datepicker-header .p-datepicker-prev svg,
.p-datepicker .p-datepicker-header .p-datepicker-next svg {
  color: #000;
}

.p-datepicker .p-datepicker-header .p-datepicker-prev:hover svg,
.p-datepicker .p-datepicker-header .p-datepicker-next:hover svg {
  color: #fff;
}

// .p-datepicker-today:before {
//   content: "";
//   display: inline-block;
//   border: solid transparent;
//   border-width: 0 0 7px 7px;
//   border-bottom-color: #fff;
//   border-top-color: rgba(0, 0, 0, 0.2);
//   position: absolute;
//   bottom: 59px;
//   right: 44%;
//   z-index: 1;
// }
div.p-datepicker-title button {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.stickyclass {
  position: sticky;
  top: 60px;
}

.p-multiselect {
  width: 100%;
}

.p-multiselect-token {
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  margin-left: 5px;
  padding: 0;
  padding-left: 20px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
  white-space: nowrap;
  background-color: #0F65CD;
  border-color: #0F65CD;
  color: #FFF;
  font-size: 14px;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}


.teachers-profile-slider .owl-carousel .owl-nav .owl-prev {
  border: 1px solid #E9EDF4;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background: #FFF;
  color: #515B73;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.teachers-profile-slider .owl-carousel .owl-nav .owl-next {
  border: 1px solid #E9EDF4;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background: #FFF;
  color: #515B73;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.teachers-profile-slider .owl-carousel .owl-nav {
  display: flex;
  align-items: center;
}

.teachers-profile-slider .owl-carousel .owl-nav .owl-next:hover,
.teachers-profile-slider .owl-carousel .owl-nav .owl-prev:hover {
  background: #202C4B;
  color: #FFF;
}

.stickybar {
  position: sticky;
  top: 0
}





.main-wrapper.darkmode {
  height: 100vh;
}

.fc-event-main {
  overflow: hidden;
}

.selectd {
  p-dropdown {
    .p-dropdown {
      line-height: 20px;
    }
  }
  .p-inputtext {
    padding: 0.5rem 0.5rem 0.5rem 1.8rem !important;
  }
}

.darktheme div.p-datepicker {
  background: #131022;
  color: #fff;
  border: none;
}

.darktheme .p-datepicker-header {
  background: #131022;
  color: #fff;
}

.darktheme div.p-datepicker-title button {
  color: #fff;
}

.darktheme .p-datepicker .p-datepicker-header .p-datepicker-prev svg,
.darktheme .p-datepicker .p-datepicker-header .p-datepicker-next svg {
  color: #fff;
}

.darkmode-custom-cls bs-datepicker-container .theme-green .bs-datepicker-head,
.darkmode-custom-cls .bs-datepicker.theme-green .bs-datepicker-head {
  background-color: #131022;
  color: #fff;
}

.darkmode-custom-cls bs-datepicker-container .theme-green .bs-datepicker-body table td span.selected,
.darkmode-custom-cls bs-datepicker-container .theme-green .bs-datepicker-body table td.selected span,
.darkmode-custom-cls bs-datepicker-container .theme-green .bs-datepicker-body table td span[class*="select-"]:after,
.darkmode-custom-cls bs-datepicker-container .theme-green .bs-datepicker-body table td[class*="select-"] span:after,
.darkmode-custom-cls .bs-datepicker.theme-green .bs-datepicker-body table td span.selected,
.darkmode-custom-cls .bs-datepicker.theme-green .bs-datepicker-body table td.selected span,
.darkmode-custom-cls .bs-datepicker.theme-green .bs-datepicker-body table td span[class*="select-"]:after,
.darkmode-custom-cls .bs-datepicker.theme-green .bs-datepicker-body table td[class*="select-"] span:after {
  background-color: #131022;
  color: #fff;
}

.darkmode-custom-cls .bs-datepicker {
  background-color: #131022;
}

.darkmode-custom-cls .p-dropdown {
  background-color: #131022;
  border: 1px solid #131022;
}

.darkmode-custom-cls .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled).p-focus {
  color: #fff;
  background: #dee2e6;
}

.darkmode-custom-cls .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  color: #fff;
  background: #131022;
}
.darkmode-custom-cls p-dropdown .p-dropdown-label {
  color: #fff;
}
.darkmode-custom-cls p-dropdown .p-dropdown:not(.p-disabled).p-focus {
  box-shadow: none;
  border-color: #131022;
}
.darkmode-custom-cls .p-multiselect.p-component.p-inputwrapper,
.darkmode-custom-cls ngx-editor .NgxEditor
{
  background: #131022;
}
.circle-progress{
  width: 38px;
    height: 38px !important;
    float: left;
    line-height: 38px;
    background: none;
    box-shadow: none;
    position: relative;
}
apx-chart{
  display: block;
}
.staff-chart apx-chart{
  display: block;
}
app-admin-dashboard .p-calendar table.p-datepicker-calendar tbody tr td,
app-teacher-dashboard .p-calendar table.p-datepicker-calendar tbody tr td,
app-student-dashboard .p-calendar table.p-datepicker-calendar tbody tr td
{
  padding:0px;
}
app-student-dashboard .p-calendar table.p-datepicker-calendar thead ,
app-teacher-dashboard .p-calendar table.p-datepicker-calendar thead,
app-admin-dashboard .p-calendar table.p-datepicker-calendar thead{
  text-align: center;
}
app-admin-dashboard .p-calendar,
app-teacher-dashboard .p-calendar,
app-student-dashboard .p-calendar  {
  overflow: hidden;
  width:100%;
}


.student-slider img,
.teacher-slider img
{
  margin-top:62px !important;
}
.attendance-data .dataTables_length {
  top: 3px;
}
.teachers-profile-slider .owl-nav{
  position:absolute;
 right:20px;
 top:-60px;
 margin:0;

}
.p-multiselect-token {
  display: inline-flex;
  padding:0px 10px 0px 10px;
  align-items: center;
}
.right-user-side.chat-rooms.theiaStickySidebar {
  max-height: 400px;
}
.slimscroll-active-sidebar {
  max-height: calc(100vh - 60px);
    overflow-y: auto;
}
.main-chat-blk .chat-page-wrapper .chat .slimscroll {
  height: calc(100vh - 60px) !important;
}
.chat-footer form {
  background-color: #fff;
}
.darktheme .chat-footer form {
  background-color: #0F0C1C;
}
.gallery-light {
  display: flex;
}
.main-chat-blk .darktheme .chat .chat-header {
  background: #0F0C1C;
  border-color: #1B1632;
}
.main-chat-blk .darktheme .chat {
  background: #0F0C1C;
}
.main-chat-blk .darktheme .chat .chat-body .messages .chats .message-content {
  background: #1B1632;
  color: #B9B7C0;
}
.main-chat-blk .darktheme .chat .chat-footer form .smile-foot .action-circle {
  background: #1B1632;
  color: #B9B7C0;
}
.darktheme .tooltip-inner {
background: #006cfa;
}
// .tooltip-inner{
//   background-color: #006cfa;
// }
.layout-mode-rtl .ng-scroll-content{
  direction: rtl;
}
.layout-mode-rtl .me-3 {
  margin-left: 1rem !important;
}
.layout-mode-rtl .me-2 {
  margin-left: 0.5rem !important;
}
.layout-mode-rtl .me-1 {
  margin-left: 0.5rem !important;
}
// .layout-mode-rtl .modal-body .date-pic .cal-icon{
//   position: absolute;
//   left:10px !important;
//   top:50%;
//   transform: translateY(-50%);
// }

.right-user-side .slime-grp .chat-footer form .send-chat a i {
  width: 14px;
    color: #FFF;
}
.p-multiselect-clearable .p-multiselect-label-container {
  height: 38px;
}
.section-bulk-wrap .form-sort .ti-filter {
  position: absolute;
  left: 10px;
  top: 48%;
  transform: translateY(-50%);
  z-index: 100;
}